page-catering-info-edit {
    .ionform {
        border-bottom: 1px solid #ccc;
        margin-left: 0 !important
    }
    .lab {
        color: #404f5d;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .bgimgs {
        width: 100px;
        height: 100px;
    }
    .ico {
        display: inline-block;
        font-size: 2.0em;
        position: absolute;
        right: 0;
        margin-top: -7px;
    }
    .ico1 {
        max-width: 100%;
        width: 100%;
    }
    .error {
        color: red;
        margin: 1px 0px 0px 5px;
        font-size: small;
    }
    .checkbox-md {
        position: absolute;
        display: inline-block;
        margin-top: 11px;
    }
    .checkbox-ios {
        position: absolute;
        display: inline-block;
        margin-top: 11px;
    }
    .select-md .select-icon .select-icon-inner {
        left: 5px;
        top: 40%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #999;
        pointer-events: none;
    }
    .select-ios .select-icon .select-icon-inner {
        left: 5px;
        top: 40%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #999;
        pointer-events: none;
    }
    ion-select {
        display: flex;
        overflow: hidden;
        max-width: 75%;
    }
    .ic {
        position: absolute;
        right: 10px;
        top: 14px;
        font-size: 21px;
        font-weight: bold;
        color: red;
    }
    .item-md {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-ios {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .back_img {
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .siz {
        color: #dedede;
    }
}