
<ion-header>
  <ion-navbar color="primary">
    <ion-title><strong>Caterer Info Edit</strong></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
      <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Caterer Name<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>
        <ion-input type="text" [(ngModel)]="data.catt_catering_name" name="name" 
        (ionChange)='onChangeCaterName(data.catt_catering_name)'
        placeholder="Caterer Name" class="ionform"></ion-input>
        </ion-item>  
        </ion-col>
        <div class="error">{{error.catt_catering_name}}</div>
      </ion-row>

       <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Caterer Description<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>
        <ion-input type="text" [(ngModel)]="data.catt_caterering_info" name="name" 
        (ionChange)='onChangeCaterInfo(data.catt_caterering_info)'
        placeholder="Caterer Description" class="ionform"></ion-input>
        </ion-item>
        </ion-col>
        <div class="error">{{error.catt_caterering_info}}</div>
      </ion-row>




       

    <ion-row>
    <ion-col col-12>
    <ion-label class="ionformlabel lab">Caterer Address<span style="color:red">*</span></ion-label>
    </ion-col>
    <ion-col col-12>
    <ion-item no-lines>  
    <ion-textarea #myInput id="myInput" placeholder="Caterer Address" (ionChange)='onChangeCaterAddre(data.catt_address)' rows="3" maxLength="500" (keyup)="resize()" class="ionform" [(ngModel)]="data.catt_address"></ion-textarea>
    </ion-item>
    </ion-col>
     <div class="error">{{error.catt_address}}</div>
    </ion-row>

    <ion-row  (click)="takeSnap()">
    <ion-col col-12>
    <ion-item>
    <ion-label class="ico1 lab">Caterer Image<ion-icon  class="ico" name="cloud-upload"></ion-icon>
    </ion-label>
    </ion-item>
    </ion-col>
    </ion-row>  


<ion-row *ngIf="imageURI">
<ion-col col-4 class="im">
<div [style.backgroundImage]="'url('+ catPath(imageURI) +')'" *ngIf="fromApi" class="back_img" (click)="fullView(imageURI)"></div>
 <ion-icon (click)="DeleteCatererImage()" *ngIf="fromApi" class="close ic" style="top: 0px !important;
    color: black !important;
    background: white !important;
    border-radius: 50%;
}" name="ios-close-circle-outline"></ion-icon>

 <div><img [src]="imageURI" *ngIf="!fromApi" class="bgimgs" (click)="fullViews(imageURI)"/></div>
 <ion-icon (click)="RemoveCatImg()" *ngIf="!fromApi" class="close ic" style="top: 0px !important;
    color: black !important;
    background: white !important;
    border-radius: 50%;
}" name="ios-close-circle-outline"></ion-icon>
</ion-col>
</ion-row>  



<!--   <ion-row>
  <ion-col col-6>
  <ion-label class="ionformlabel lab">Delivery Areas<span style="color:red">*</span></ion-label>
  </ion-col>
  </ion-row>

    <ion-row *ngFor="let att of anArray; let i = index">
    <ion-col col-12>
    <ion-item>
     <ion-label class="ionformlabel lab">Pincode {{i+1}}:</ion-label>
     <ion-input type="tel" maxlength="6" text-right  [(ngModel)]="anArray[i].catt_pincode"></ion-input>
     </ion-item>
    </ion-col>    
    </ion-row>

    <ion-row>
    <ion-col col-6 *ngIf="AddressCount <= 4">
     <button ion-button (click)="Add()">Add Pincodes</button>
    </ion-col>

    <ion-col col-6 *ngIf="AddressCount > 0">
     <button ion-button (click)="removeAddress()">Remove</button>
    </ion-col>
    </ion-row> -->


    <ion-row>
      <ion-col col-12>
         <ion-item>
         <ion-label floating class="mar" style="color: #404f5d;
    font-weight: 600;
    font-size: 1.5rem;">Delivery Areas<span style="color:red">*</span></ion-label>
          <ion-select multiple="true" [(ngModel)]="Area_Pincodes" [selectOptions]="selectOptions3">
          <ion-option *ngFor="let pin of pincodes" (ionSelect)="onChangePin()" value="{{pin.pin_id}}">{{pin.pincode}}&nbsp;-&nbsp;{{pin.area_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>


  <ion-row>
  <ion-col col-6>
  <ion-label class="ionformlabel lab">Delivery days<span style="color:red">*</span></ion-label>
  </ion-col>
  </ion-row>

     <ion-row *ngFor="let att of anArrays; let i = index">

     <ion-col col-4>
          <ion-label class="ionformlabel lab">Days </ion-label>
          <ion-select [(ngModel)]="anArrays[i].days" placeholder="Day" class="ionform" [selectOptions]="selectOptions2">
          <ion-option *ngFor="let day of DayNames" class="ionform" (ionSelect)="onChangeDay(day.day)" value="{{day.day}}">{{day.name}}</ion-option>
          </ion-select>
     </ion-col>


       <ion-col col-4>
       <ion-label class="ionformlabel lab">From</ion-label>
       <ion-datetime displayFormat="hh:mm A" (ionChange)='onChangeFrom()' [(ngModel)]="anArrays[i].fromtime" name="from" placeholder="09:00 AM" class="ionform"></ion-datetime>
       </ion-col>

       <ion-col col-4>
        <ion-label class="ionformlabel lab">To</ion-label>
        <ion-datetime displayFormat="hh:mm A" (ionChange)='onChangeTo()' [(ngModel)]="anArrays[i].totime" name="to" placeholder="09:00 PM" class="ionform"></ion-datetime>
      </ion-col>
    </ion-row>
    
    <ion-row>
    <ion-col col-6 *ngIf="DaysCount <= 7">
     <button ion-button (click)="Adddays()">Add Days</button>
    </ion-col>

    <ion-col col-6 *ngIf="DaysCount > 0">
     <button ion-button (click)="RemoveDays()">Remove</button>
    </ion-col>
    </ion-row>



<ion-row style="border-bottom: 1px solid #dedede;">
<ion-col col-12  (click)="showCal=!showCal">
<ion-label class="ionformlabel lab">Select Holidays</ion-label>
<ion-icon name="calendar" item-right class="ic"></ion-icon>
</ion-col>
</ion-row>

<ng-container *ngIf="showCal">
    <ion-calendar [(ngModel)]="dateMulti"
              [options]="optionsMulti"
              (onChange)="onChange($event)"
              [format]="'YYYY-MM-DD'">
</ion-calendar>
</ng-container>

    




      <ion-row>
      <ion-col col-12>
      <ion-label class="ionformlabel lab">Lead Time (In Days)<span style="color:red">*</span></ion-label>
      </ion-col>
      <ion-col col-12>
      <ion-item no-lines>
      <ion-input type="tel" (ionChange)='onChangelead(data.catt_lead_time)'  [(ngModel)]="data.catt_lead_time" name="number" placeholder="(In Days)" class="ionform"></ion-input>
      </ion-item>
      </ion-col>
      <div class="error">{{error.lead_time}}</div>
      </ion-row>


        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Minimum Order<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>
        <ion-input type="tel" [(ngModel)]="data.catt_min_order" (ionChange)='onChangemin(data.catt_min_order)' pattern="[0-9]" maxlength="5" name="number" placeholder="(in number)" class="ionform"></ion-input>
        </ion-item>
       </ion-col>
        <div class="error">{{error.min_order}}</div>
        </ion-row> 

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Maximum Order<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>
        <ion-input type="tel" [(ngModel)]="data.catt_max_order" (ionChange)='onChangemax(data.catt_max_order)' pattern="[0-9]" maxlength="10" name="number" placeholder="(in number)" class="ionform"></ion-input>
       </ion-item>
       </ion-col>
        <div class="error">{{error.max_order}}</div>
        </ion-row> 


      <ion-row>
      <ion-col col-12>
      <ion-label class="ionformlabel lab">GST Number<span style="color:red">*</span></ion-label>
      </ion-col>
      <ion-col col-12>
      <ion-item no-lines>
      <ion-input type="tel"  [(ngModel)]="data.gst_number" name="number" placeholder="GST Number" class="ionform"></ion-input>
      </ion-item>
      </ion-col>
       <div class="error">{{error.gst_number}}</div>
      </ion-row>


      <ion-row>
      <ion-col col-12>
      <ion-item>
      <ion-label floating class="mar" style="color: #404f5d;font-weight: 600;font-size: 1.5rem;">Vegetarian<span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="data.meal_types" (ionChange)='onChangeisType(data.meal_types)' [selectOptions]="selectOptions4">
      <ion-option value="Veg">Yes</ion-option>
      <ion-option value="Non-Veg">No</ion-option>
      </ion-select>
      </ion-item>
      </ion-col>
      <div class="error">{{error.meal_types}}</div>
      </ion-row>


    <button ion-button type="submit" block class="submitbtn but" style="height: 50px" (click)="checkImg()"><strong>Update</strong></button>
</ion-content>
