<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    	<strong>Confirmation</strong>
    </ion-title>
    <ion-buttons end (click)="flagStatus=!flagStatus;scrollToTop()">
      <!-- <ion-buttons end (click)="alertShow()"> -->
     <button  ion-button icon-only>
       <ion-icon name="search"></ion-icon>
     </button>
   </ion-buttons>	
  </ion-navbar>
</ion-header>


<ion-content class="grey">

    <ion-searchbar *ngIf="flagStatus"
    [(ngModel)]="searchText"
    [showCancelButton]="true"
    (ionInput)="onFilter($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>


    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>  

  
<!-- <ion-row class="bggrey">
	<ion-col col-12 class="rowlink">
		<a href="#">Present</a> <a href="#">Future</a> <a href="#">Past</a>
	</ion-col>
</ion-row> -->

  <ng-container *ngIf="totalPages == 0">
    <p class="empty">No Confirmation Pending</p>
  </ng-container>


<ng-container *ngIf="totalPages > 0">
<ion-card *ngFor="let user of users" (click)="detail(user)">
<ion-card-content>
<ion-row>
<ion-col col-9>
<strong class="tex">Customer Name : {{user.userslist.usr_first_name}}</strong>
<p>Pincode : {{user.ship.ship_add_pincode}}</p>
<p>Delivery Date : {{user.delivery_dates}}</p>
<p>Delivery Time : {{timeconvert(user.delivery_time)}}</p>
</ion-col>
<ion-col col-3>
<!-- <ng-container *ngIf="show">   -->
<button class="confirmed" (click)="confirmOrder(user);$event.stopPropagation()"><strong>CONFIRM</strong></button><br>
<button class="cancel" (click)="cancelOrder(user);$event.stopPropagation()"><strong>CANCEL</strong></button><br>
<!-- </ng-container> -->
<button class="button" (click)="detail(user);$event.stopPropagation()">View More</button>
</ion-col>
</ion-row>
</ion-card-content>
</ion-card>
</ng-container>

<ion-infinite-scroll (ionInfinite)="LoadData($event)" *ngIf="infiniteScrollEnabled" >
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
