page-confirmation {
    h3.title {
        color: #ffffff;
        font-size: 18px;
        margin: 0;
    }
    .iconmenu {
        margin-right: 5px;
    }
    .iconmenu img {
        max-height: 20px;
    }
    .text-right {
        text-align: right;
    }
    .headbanner {
        min-height: 35vh;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-size: cover !important;
        display: table;
    }
    .empty {
        text-align: center;
        margin-top: 50%;
        font-size: large !important;
    }
    .headbanner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }
    .headbanner h2 {
        display: table-cell;
        vertical-align: middle;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
        z-index: 12;
        max-width: 75%;
        text-align: center;
        padding: 0 10%;
    }
    .text-justify {
        text-align: justify !important
    }
    p {
        font-size: 1.4rem !important;
        line-height: 22px;
    }
    .grey {
        background: #ebebeb;
    }
    .bggrey {
        padding: 5px 10px;
    }
    strong {
        display: block;
        margin-bottom: 2px;
    }
    button {
        background: #b98d35;
        color: #fff;
        padding: 5px 6px;
        float: right;
        font-size: 1.4rem !important;
    }
    .rowlink a {
        display: inline-block;
        background: #fff;
        border-radius: 10px;
        color: #333;
        text-decoration: none;
        padding: 4px 10px 4px 10px;
        margin-right: 5px;
        font-size: 14px;
    }
    ion-card {
        display: block;
        overflow: hidden;
        margin: 0 0 12px 0 !important;
        width: 100% !important;
    }
    .card-content-ios {
        padding: 8px !important
    }
    .confirm {
        color: #008200
    }
    .confirm ion-icon {
        text-align: center;
        font-size: 2.3rem;
        display: block;
    }
    .text-center {
        text-align: center
    }
    .button {
        margin-top: 10px
    }
    .confirmed {
        border: 1px solid #008200;
        background: transparent;
        color: #008200;
        text-align: center;
        width: 70px;
        margin-bottom: 5px;
        float: right;
        font-size: 1.1rem !important;
        font-weight: 500;
        height: 20px;
        padding: 0;
    }
    .cancel {
        border: 1px solid #ff0000;
        background: transparent;
        color: #ff0000;
        text-align: center;
        margin-bottom: 5px;
        width: 70px;
        font-weight: 500;
        float: right;
        font-size: 1.1rem !important;
        height: 20px;
        padding: 0;
    }
    .card-md {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-ios {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .tex {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden !important;
    }
}