<ion-content padding>
<div>

	<ion-row align-items-center style="width: 45%;
    margin-left: 28%;"><img src="assets/imgs/logo_new.png">
    </ion-row>


	<!-- <p text-center class="tit">LOGIN</p> -->
   <ion-row style="margin-top: 15px;">
    <ion-col col-12>
        <ion-label class="ionformlabel lab">Email or Phone</ion-label>
    </ion-col>    
      	<ion-col col-12>
        <ion-item>
    <ion-input type="email" [(ngModel)]="data.username" (keyup.enter)="moveFocus(b)" name="oldpwd" placeholder="Email or Phone Number" (ionChange)='onChangeTime(data.username)' class="ionform"></ion-input>
       </ion-item>
    	</ion-col>
        <div class="error">{{error.username}}</div>
        </ion-row>

        <ion-row>
         <ion-col col-12>
          <ion-label class="ionformlabel lab">Password</ion-label>
         </ion-col>
      	<ion-col col-12>
        <ion-item>    
        <ion-input [type]="passwordType" (ionChange)='onChangePass(data.password)' #b [(ngModel)]="data.password" name="oldpwd" placeholder="Password" (keyup.enter)="login()" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()' ></ion-icon>
         </ion-item>
    	</ion-col>
        <div class="error">{{error.password}}</div>
        </ion-row>  

        <ion-row>
        <ion-col>
        <h3 class="for" (click)="forgot()">Forgot Password ?</h3>
        </ion-col>
        </ion-row>

        <button ion-button type="submit" block class="submitbtn but" style="height: 50px" (click)="login()">LOG IN</button>


        <ion-row style="margin-top:50px;text-align: center;">
        <ion-col>
        <h3 style="font-size: 1.6rem;
    color: #6e6e6e;font-weight: 350;">Don't have a account? <button class="bu" (click)="signup()">Sign Up</button></h3>
        </ion-col>
        </ion-row>
</div>
	
</ion-content>
