page-login {
    .tit {
        font-weight: 500;
        font-size: 2.0rem;
    }
    .for {
        float: right;
        font-size: 1.5rem;
        margin-top: 5px;
        color: #b98d36;
    }
    .but {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .lab {
        color: #404f5d;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .bu {
        background: transparent;
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;
    }
    .logo {
        text-align: center;
        padding: 50px;
        font-size: 3rem;
        color: #b98d36;
        font-weight: 500;
    }
    .passwordIcon {
        font-size: 2.3rem !important;
        position: relative !important;
        top: 0px !important;
        margin: 0 auto !important;
        float: right;
        color: grey;
    }
    .error {
        color: red;
        margin: 1px 0px 0px 5px;
        font-size: small;
    }
    .item-md {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-ios {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    img {
        max-width: 100%;
        border: 0;
        width: 150px;
        height: 150px;
    }
}