<ion-header>
  <ion-navbar color="primary">
    <ion-title><strong>Item Edit</strong></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
      <ion-row>
      	<ion-col col-12>
      		<ion-label class="ionformlabel">Item name<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>  
        <ion-input type="text" [(ngModel)]="data.menu_name" name="dishname" (ionChange)='onChangeName(data.menu_name)' placeholder="Ex - Biriyani" class="ionform"></ion-input>
        </ion-item>
    	  </ion-col>
        </ion-row>



  <ion-row>
  <ion-col col-12>
  <ion-label class="ionformlabel">Item Description</ion-label>  
  </ion-col>
  <ion-col col-12>
   <ion-item no-lines> 
   <ion-textarea #myInput id="myInput" placeholder="Description" rows="3" maxLength="100" (keyup)="resize()" class="ionform" [(ngModel)]="data.menu_description"></ion-textarea>
   </ion-item>
   </ion-col>
   <!-- <div class="error">{{error.menu_description}}</div> -->
   </ion-row> 

      <ion-row>
        <ion-col col-6>
          <ion-label class="ionformlabel">Minimum Order</ion-label>
        <ion-input type="tel" [(ngModel)]="data.min_order" maxlength="4" name="minorder" placeholder="50" class="ionform"></ion-input>
      </ion-col>
      <ion-col col-6>
          <ion-label class="ionformlabel">Maximum Order</ion-label>
        <ion-input type="tel" [(ngModel)]="data.max_order" maxlength="4" name="maxorder" placeholder="500" class="ionform"></ion-input>
      </ion-col>
      </ion-row>


    <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel">Pricing Per Person<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines> 
        <ion-input type="tel" [(ngModel)]="data.per_person_cost" maxlength="10" name="minorder" placeholder="50" class="ionform"></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>


      <ion-row>
        <ion-col col-12>
          <ion-label class="ionformlabel">GST Percentage<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>  
        <ion-input type="tel" pattern="[0-9]" maxlength="2" [(ngModel)]="data.gst_percent" name="minorder" placeholder="In Percentage" class="ionform"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>

     <ion-row>
        <ion-col col-12>
          <ion-label class="ionformlabel">HSN Number<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>  
        <ion-input type="tel" pattern="[0-9]" [(ngModel)]="data.hsn_number" name="minorder" placeholder="(In Number)" class="ionform"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="showDiscount">
        <ion-col col-12>
          <ion-label class="ionformlabel">Discount</ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>  
        <ion-input type="tel" maxlength="2" [(ngModel)]="data.discount" name="minorder" placeholder="In Percentage" class="ionform"></ion-input>
        </ion-item>
        </ion-col>
      <!-- <div class="error">{{error.discount}}</div> -->
    </ion-row>

      <ion-row *ngIf="showDiscount">
        <ion-col col-12>
          <ion-label class="ionformlabel">Discount Duration</ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>  
        <ion-input type="tel" maxlength="2" [(ngModel)]="data.discount_duration" name="minorder" placeholder="No of Days" class="ionform"></ion-input>
      </ion-item>
      </ion-col>
      <!-- <div class="error">{{error.discount_duration}}</div> -->
    </ion-row>


          <ion-row>
      <ion-col col-12>
          <ion-label class="ionformlabel">Images</ion-label>
          <div *ngFor="let image of imagebox;let i = index" class="fileup">
            <div class="bgimgs" [style.backgroundImage]="'url('+ showImage(image.menu_imgname) +')'"><ion-icon (click)="deleteImage(i,image)" class="close ic" name="ios-close-circle-outline"></ion-icon></div>

          </div>
          <ng-container *ngIf="count <= 5">
          <label for="fileupload" class="fileupload" (click)="getImage()"><span style="font-size: 2.5rem">+</span> <br> <span style="font-size: 1.2rem">Add Image</span></label>
          </ng-container>
      </ion-col>
      </ion-row> 

       
      <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating class="mar">Veg or Non-Veg<span style="color:red">*</span></ion-label>
					<ion-select [(ngModel)]="data.is_veg" [selectOptions]="selectOptions">
					<ion-option value="1">Vegetarian</ion-option>
					<ion-option value="0">Non Vegetarian</ion-option>
					</ion-select>
          </ion-item>
    	</ion-col>
      </ion-row>


      <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="mar">Meal Type<span style="color:red">*</span></ion-label>
          <ion-select [(ngModel)]="data.meal_type_id" [selectOptions]="selectOptions1">
        <ion-option *ngFor="let meal of mealsList"  value="{{meal.mealtype_id}}">{{meal.mealtype_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="mar">Cuisine Type<span style="color:red">*</span></ion-label>
          <ion-select [(ngModel)]="data.cuisine_type_id" [selectOptions]="selectOptions2">
           <ion-option *ngFor="let cuisine of cuisineList"  value="{{cuisine.cuis_id}}">{{cuisine.cuis_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="mar">Packing Type<span style="color:red">*</span></ion-label>
          <ion-select [(ngModel)]="data.package_type_id" [selectOptions]="selectOptions3">
 <ion-option *ngFor="let pack of Packinglist"  value="{{pack.pack_id}}">{{pack.pack_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>

      
      <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="mar">Menu group</ion-label>
          <ion-select [(ngModel)]="data.item_group" [selectOptions]="selectOptions4">
          <ion-option *ngFor="let meal of menuList" value="{{meal.menu_id}}">{{meal.menu}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>



    <ion-row>
    <ion-label style="margin-left: 30px;font-weight: 600;">Combo Item?</ion-label>
    <ion-checkbox [(ngModel)]="data.is_combo" (ionChange)='checkBox()' checked=data.is_combo></ion-checkbox>
    </ion-row>

<ng-container *ngIf="data.is_combo">
      <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="mar">No. of Items</ion-label>
          <ion-select [(ngModel)]="data.no_of_combo" (ionChange)='onChangecom()'>
          <ion-option *ngFor="let com of Combo_arr" value="{{com.value}}">{{com.value}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>


    <ion-row *ngFor="let att of Combo_List; let i = index">
    <ion-col col-6>
    <ion-item no-lines>  
    <ion-label floating class="mar">Group Name</ion-label>
    <ion-input type="text" [(ngModel)]="Combo_List[i].combo_name" name="comboname" class="ionform"></ion-input>
    </ion-item>
    </ion-col>
      
      <ion-col col-6>
          <ion-item> 
          <ion-label floating class="mar">Item List</ion-label>
          <ion-select multiple="true" [(ngModel)]="Combo_List[i].combo_item" [selectOptions]="selectOptions5">
          <ion-option *ngFor="let com of items" value="{{com.menu_id}}">{{com.menu_name}}</ion-option>
          </ion-select>
          </ion-item> 
      </ion-col>
      </ion-row>

</ng-container>

<ion-row>
<ion-col>
<p style="text-align: justify;font-size: small;"><strong>Note :</strong> If an image is added, it is shown as “Recommended” and appears at the top of the Item list for the Customers.
</p>
</ion-col>
</ion-row>

      <button ion-button type="submit" block class="submitbtn"  style="height: 50px;margin-top:20px;font-size: large" (click)="apihit()"><strong>UPDATE</strong></button>
</ion-content>
