<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>Change Password</strong></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


<form (ngSubmit)="logForm()">
        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Current Password<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item>  
        <ion-input [type]="passwordType1" [(ngModel)]="data.current_password" (ionChange)='onChangeCP(data.current_password)' name="oldpwd" placeholder="Current Password" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon1" class="passwordIcon" (click)='showHidess()' ></ion-icon>
        </ion-item>
        </ion-col>
        <div class="error">{{error.curr_pwd}}</div>
        </ion-row>

     
        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">New Password<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item> 
        <ion-input [type]="passwordType" [(ngModel)]="data.new_password" (ionChange)='onChangeTime(data.new_password)' name="oldpwd" placeholder="New Password" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()' ></ion-icon>
        </ion-item>
        </ion-col>
        <div class="error">{{error.new_pwd}}</div>
        </ion-row>  

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Confirm Password<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item>
        <ion-input [type]="passwordType2" [(ngModel)]="data.confirm_password"  (ionChange)='onChangeTimes(data.con_password)' name="oldpwd" placeholder="Confirm Password" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon2" class="passwordIcon" (click)='showHides()' ></ion-icon>
        </ion-item>
        </ion-col>
        <div class="error">{{error.con_pwd}}</div>
        </ion-row>

      <button ion-button type="submit" block class="submitbtn" (click)="confirm()" style="height: 45px"><strong>Confirm</strong></button>
</form>

</ion-content>
