page-changepassword {
    .ionform {
        border-bottom: 1px solid #ccc;
        margin-left: 0 !important
    }
    .ionformlabel {
        margin: 0
    }
    .submitbtn {
        position: relative;
        width: 90%;
        margin: 40px 20px;
    }
    .tex {
        color: #434E5E;
        font-weight: 500;
    }
    .text-input-md {
        margin: 13px 8px;
        padding: 0;
        margin-left: 0px;
        width: calc(100% - 8px - 8px);
    }
    .text-input-ios {
        margin: 13px 8px;
        padding: 0;
        margin-left: 0px;
        width: calc(100% - 8px - 8px);
    }
    .passwordIcon {
        font-size: 2.3rem !important;
        position: relative !important;
        margin-top: -30px !important;
        margin: 0 auto !important;
        float: right;
        color: grey;
    }
    .lab {
        color: #404f5d;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .error {
        color: red;
        margin: 1px 0px 0px 5px;
        font-size: small;
    }
    .item-md {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-ios {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}