<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Platos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	 <div class="headbanner" style="background:url(assets/imgs/header_banner.png) no-repeat">
    	<h2 style="font-weight: bold !important;">HI {{CarterName}}!</h2>
  	</div>
  	<ion-row padding style="margin-top:8px" *ngIf="!auditDeactivate">
      <ion-col col-6 class="table" (click)="toOrders()">
        <div class="blue tcell">
          Total Orders 
          <h4>{{total_order}}</h4>
        </div>
      </ion-col>

  		<ion-col col-6 class="table" (click)="toConfir()">
  			<div class="orange tcell">
  				New Orders 
  				<h4>{{confirmation_pending_count}}</h4>
  			</div>
  		</ion-col>

  		<ion-col col-6 class="table" (click)="toOrders()">
  			<div class="green tcell">
  				Confirmed Orders 
  				<h4>{{confirmed_count}}</h4>
  			</div>
  		</ion-col>
  		<ion-col col-6 class="table" (click)="toOrders()">
  			<div class="red tcell">
  				 Cancelled Orders 
  				<h4>{{Cancelled_count}}</h4>
  			</div>
  		</ion-col>
      <ion-col col-6 class="table" (click)="toOrders()">
        <div class="parrot_green tcell">
          Orders in Progress
          <h4>{{confirmed_count + Out_to_delivery_count}}</h4>
        </div>
      </ion-col>
  		<ion-col col-6 class="table" (click)="toOrders()">
  			<div class="violet tcell">
  				Orders Out to Delivery
  				<h4>{{Out_to_delivery_count}}</h4>
  			</div>
  		</ion-col>
  	</ion-row>


<ion-row padding style="margin-top:8px" *ngIf="auditDeactivate">
      <ion-col col-6 class="table">
        <div class="blue tcell">
          Total Orders 
          <h4>{{total_order}}</h4>
        </div>
      </ion-col>

      <ion-col col-6 class="table">
        <div class="orange tcell">
          New Orders 
          <h4>{{confirmation_pending_count}}</h4>
        </div>
      </ion-col>

      <ion-col col-6 class="table">
        <div class="green tcell">
          Confirmed Orders 
          <h4>{{confirmed_count}}</h4>
        </div>
      </ion-col>
      <ion-col col-6 class="table">
        <div class="red tcell">
           Cancelled Orders 
          <h4>{{Cancelled_count}}</h4>
        </div>
      </ion-col>
      <ion-col col-6 class="table">
        <div class="parrot_green tcell">
          Orders in Progress
          <h4>{{confirmed_count + Out_to_delivery_count}}</h4>
        </div>
      </ion-col>
      <ion-col col-6 class="table">
        <div class="violet tcell">
          Orders Out to Delivery
          <h4>{{Out_to_delivery_count}}</h4>
        </div>
      </ion-col>
    </ion-row>



</ion-content>