page-dashboard {
  .padd_signup {
    padding: 6px 6px !important;
  }
  .headbanner {
    min-height: 35vh;
    width: 100%;
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    display: table;
  }
  .headbanner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%
  }
  .headbanner h2 {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    z-index: 12;
    max-width: 75%;
    text-align: center;
    padding: 0 10%
  }
  .text-justify {
    text-align: justify !important
  }
  p {
    font-size: 16px;
    line-height: 22px;
  }
  .table {
    display: table
  }
  /*.tcell{display:table-cell;vertical-align:middle;}*/
  .tcell h4 {
    font-size: 2rem;
    padding-top: 8px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
  }
  .orange {
    background: #c2c20f;
  }

      .text_overflow{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    }

    
  .tcell {
    border-radius: 5px;
    height: 110px;
    text-align: center;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 15px;
    width: calc(100% - 15px);
    margin: 0 auto 15px auto;
    position: relative;
    font-weight: bold;
  }
  .blue {
    background: #17a086
  }
  .green {
    background: #a7a7a7
  }
  .red {
    background: #e05d6f
  }
  .violet {
    background: #3f4e61
  }
  .parrot_green {
    background: #418bcc
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: bold;
  }
  .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: bold;
  }
}