<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>{{tit}}</strong></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
      <ion-row class="martbtm">
      	<ion-col col-12>
      		<ion-label class="ionformlabel tex">Name<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>
        <ion-input type="text" (ionChange)='onChangeName()' (keyup.enter)="moveFocus(b)" [(ngModel)]="data.name" name="name" placeholder="Enter the Name" class="ionform"></ion-input>
        </ion-item>  
    	</ion-col>
      <div class="error">{{error.name}}</div>
      </ion-row>


      <ion-row class="martbtm">
      <ion-col col-12>
      		<ion-label class="ionformlabel tex">Email Address<span style="color:red">*</span></ion-label>
      </ion-col>
      <ion-col col-12>
        <ion-item no-lines>   
        <ion-input type="email" (ionChange)='onChangeemail(data.email)' #b (keyup.enter)="moveFocus(c)" [(ngModel)]="data.email" name="email" placeholder="Enter your Email" class="ionform"></ion-input>
        </ion-item>
    	</ion-col>
      <div class="error">{{error.email}}</div>
      </ion-row>

       <ion-row class="martbtm">
       <ion-col col-12>
       <ion-label class="ionformlabel tex">Phone Number<span style="color:red">*</span></ion-label>
       </ion-col>
       <ion-col col-12>
       <ion-item no-lines>  
       <ion-input type="tel" #c (keyup.enter)="moveFocus(d)" (ionChange)='onChangenumber(data.phone)' [(ngModel)]="data.phone" maxlength="10" name="phone" placeholder="Enter your Phone number" class="ionform"></ion-input>
       </ion-item>
    	 </ion-col>
       <div class="error">{{error.phone}}</div>
       </ion-row> 

        <ion-row class="martbtm">
        <ion-col col-12>
        <ion-label class="ionformlabel tex">Password<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12> 
        <ion-input [type]="passwordType" #d (keyup.enter)="moveFocus(e)" (ionChange)='onChangePass(data.password)' [(ngModel)]="data.password" name="password" placeholder="Password" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()'></ion-icon>
        </ion-col>
        <div class="errors">{{error.password}}</div>
        </ion-row> 


        <ion-row class="martbtm" *ngIf="!fromEdit">
        <ion-col col-12>
        <ion-label class="ionformlabel tex">Confirm Password<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-input [type]="passwordTypes" #e (keyup.enter)="toVendor()" (ionChange)='onChangePasss(data.con_password)' [(ngModel)]="data.con_password" name="con_password" placeholder="Password" class="ionform" clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcons" class="passwordIcon" (click)='showHides()' ></ion-icon>
        </ion-col>
        <div class="errors">{{error.con_password}}</div>
        </ion-row> 



      <ion-row style="margin-top:50px">
      <ion-col col-12>
      <button ion-button type="submit" block class="submitbtn" (click)="toVendor()" *ngIf="tit=='Add User'" style="height: 45px;"><strong>Add User</strong></button>
      <button ion-button type="submit" block class="submitbtn" (click)="toVendor()" *ngIf="tit=='Add User Edit'" style="height: 45px;"><strong>Update</strong></button>
      </ion-col>
      </ion-row>
     


</ion-content>
