<!--
  Generated template for the ProfileEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">First Name</ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_first_name" name="name"  (ionChange)='onChangeName(data.catt_first_name)'
         placeholder="firstname" class="ionform"></ion-input>
    	  </ion-col>
        <div class="error">{{error.first_name}}</div>
        </ion-row>


        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_sur_name" name="name" 
        (ionChange)='onChangeSurName(data.catt_sur_name)'
        placeholder="lastname" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.sur_name}}</div>
        </ion-row>


        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">Email Address</ion-label>
        <ion-input type="Email" [(ngModel)]="data.catt_email_address" name="email" placeholder="abc@gmail.com" 
        (ionChange)='onChangeemail(data.catt_email_address)' class="ionform"></ion-input>
    	 </ion-col>
       <div class="error">{{error.email_address}}</div>
        </ion-row>

        <ion-row>
      	<ion-col col-12>
        <ion-label class="ionformlabel lab">Phone Number</ion-label>
        <ion-input type="tel" (ionChange)='onChangenumber(data.catt_mobile_no)' [(ngModel)]="data.catt_mobile_no" name="number" pattern="[0-9]" maxlength="10" placeholder="9790726699" class="ionform"></ion-input>
    	 </ion-col>
       <div class="error">{{error.mobile_no}}</div>
        </ion-row>

   <ion-row>
  <ion-col col-6>
  <ion-label class="ionformlabel lab">Address</ion-label>
  </ion-col>
  </ion-row>

    <ion-row *ngFor="let att of anArray; let i = index">
    <ion-col col-12>
     <ion-item>
     <ion-label class="ionformlabel lab">Address&nbsp;{{i+1}}:</ion-label>
     <ion-input type="text"  text-right  (ionChange)='onChangeAddress()' [(ngModel)]="anArray[i].catt_city"></ion-input>
     </ion-item>
      </ion-col>

    <ion-col col-12>
    <ion-item>
     <ion-label class="ionformlabel lab">Pincode :</ion-label>
     <ion-input type="number"  text-right  (ionChange)='onChangePin()' [(ngModel)]="anArray[i].catt_pincode"></ion-input>
     </ion-item>
    </ion-col>
    </ion-row>

    <button class="submitbtn but" style="height: 50px" (click)="updateProfile()">Update</button>
    
</ion-content>
