page-profile-edit {
	.ionform {
		border-bottom: 1px solid #ccc;
		margin-left: 0 !important
	}
	.lab {
		color: #404f5d;
		font-weight: 500;
		font-size: 1.5rem;
	}
	.error {
		color: red;
		margin: 1px 0px 0px 5px;
		font-size: small;
	}
}