
<ion-header>

  <ion-navbar color="primary">
  	 <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>My Profile</strong></ion-title>
      <ion-buttons end (click)="editProfile()">
      <button  ion-button icon-only>
      	<ion-icon name="appname-custom"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ng-container *ngIf="profileDatas">

<!-- <div class="cover" style="padding: 30px 10px 30px 10px !important" (click)="presentActionSheet()">

<ng-container *ngIf="is_Admin == 'true'">
  <div class="item-profile circle-pic" *ngIf="!profileDatas.catt_profile_pic" text-center #profilePic [style.background-image]="'url(assets/imgs/cater_banner.png)'"></div>
  <div class="item-profile circle-pic" *ngIf="profileDatas.catt_profile_pic" text-center #profilePic [style.background-image]="'url('+showPic(profileDatas.catt_profile_pic)+')'">
  </div>
 </ng-container> 

 <ng-container *ngIf="is_Admin == 'false'">
  <div class="item-profile circle-pic" *ngIf="!profileDatas.addi_user.cat_usr_profile_pic" text-center #profilePic [style.background-image]="'url(assets/imgs/cater_banner.png)'"></div>
   <div class="item-profile circle-pic" *ngIf="profileDatas.addi_user.cat_usr_profile_pic" text-center #profilePic [style.background-image]="'url('+showPic(profileDatas.addi_user.cat_usr_profile_pic)+')'">
  </div>
 </ng-container>
</div> -->

<ng-container *ngIf="is_Admin == 'true'">
<ion-row style="padding-left: 10px;padding-top: 15px;">
  <ion-col col-12>
    
  	    <h3>Name</h3>
      
        <p><strong class="text_overflow">{{profileDatas.catt_first_name}}</strong></p>
     
    <hr>

      
        <h3>Email Address</h3>
      
        <p><strong class="text_overflow">{{profileDatas.catt_email_address}}</strong></p>
     
    <hr>


       <h3>Phone Number</h3>

        <p><strong>{{profileDatas.catt_mobile_no}}</strong></p>

    <hr>
        
        <h3>Role</h3>

         <p *ngIf="is_Admin == 'true'"><strong>Caterer Admin</strong></p>    
<!--     <hr>

        <h3>Caterer Address</h3>

        <p>{{profileDatas.catt_address}}</p>

    <hr>    

       <h3>Delivery Pincodes</h3>
       
       <p>{{pincodes}}.</p> -->

       <button ion-button type="submit" block class="submitbtn" style="height: 45px;
    width: 97%;
    margin-top: 40px;" (click)="change()"><strong>Change Password</strong></button>
   </ion-col>
</ion-row>
</ng-container>


<ng-container *ngIf="is_Admin == 'false'">
<ion-row style="padding-left: 10px;padding-top: 15px;">
  <ion-col col-12>
    
        <h3>Full Name</h3>
      
        <p><strong class="text_overflow">{{profileDatas.addi_user.cat_usr_name}}</strong></p>
     
    <hr>

      
        <h3>Email Address</h3>
      
        <p><strong class="text_overflow">{{profileDatas.addi_user.cat_usr_email}}</strong></p>
     
    <hr>


       <h3>Phone Number</h3>

        <p><strong>{{profileDatas.addi_user.cat_usr_mobile}}</strong></p>


    <hr>


       <h3>Role</h3>

       
      <p *ngIf="is_Admin == 'false'"><strong>Sub Caterer</strong></p>    




   <!--  <hr>

        <div *ngFor="let adrr of address;let i = index">
        <h3>Address{{i+1}}</h3>
        <p>{{adrr.catt_city}},{{adrr.catt_pincode}}.</p>    
        </div> -->

       <button ion-button type="submit" block class="submitbtn" style="height:45px;width: 97%;" (click)="change()">Change Password</button>
   </ion-col>
</ion-row>
</ng-container>


</ng-container>

</ion-content>


<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->