page-my-profile {
    .item-profile {
        background-size: cover;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: auto;
        background-position: center;
    }
    .item-detail {
        width: 100%;
        background: white;
        position: absolute;
    }
    .cover {
        padding-top: 35px;
        background: #EBEBEB;
        height: 33%;
    }
    h3 {
        color: #757472;
        font-size: 1.5rem;
    }
        .text_overflow{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    }
    .but {
        border: 1px solid #b98d36;
        background: transparent;
        font-size: 1.7rem;
        padding: 6px 11px;
        color: #b98d36;
        margin: 10px 0 -10px 0;
    }
    .hed {
        background: #EBEBEB;
        padding: 10px;
        color: #b98d36;
    }
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        padding: 0px !important;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }
    ion-icon {
        &[class*="appname-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            background-position: center;
            width: 1em;
            height: 1em;
        }
        &[class*="appname-custom"] {
            mask-image: url('../assets/imgs/menu/edit.png');
        }
    }
    .EditIcon {
        ion-icon {
            color: 'red';
        }
    }
}