<!--
  Generated template for the VendorProfileEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title><strong>Admin Info Edit</strong></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">First Name<span style="color:red">*</span></ion-label>
        </ion-col>

        <ion-col col-12>
        <ion-item no-lines no-padding>
        <ion-input type="text" [(ngModel)]="data.catt_first_name" name="name"  (ionChange)='onChangeName(data.catt_first_name)'
         placeholder="First Name" class="ionform"></ion-input>
        </ion-item>
    	  </ion-col>
        <div class="error">{{error.first_name}}</div>
        </ion-row>


<!--         <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Last Name<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_sur_name" name="name" 
        (ionChange)='onChangeSurName(data.catt_sur_name)'
        placeholder="Last Name" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.sur_name}}</div>
        </ion-row> -->


        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">Email Address<span style="color:red">*</span></ion-label>
        </ion-col>

        <ion-col col-12>
        <ion-item no-lines no-padding>
        <ion-input type="Email" [(ngModel)]="data.catt_email_address" name="email" placeholder="Email Address" 
        (ionChange)='onChangeemail(data.catt_email_address)' class="ionform"></ion-input>
        </ion-item>
    	  </ion-col>
       <div class="error">{{error.email_address}}</div>
        </ion-row>

        <ion-row>
      	<ion-col col-12>
        <ion-label class="ionformlabel lab">Phone Number<span style="color:red">*</span></ion-label>
        </ion-col>

        <ion-col col-12>
        <ion-item no-lines no-padding>
        <ion-input type="tel" (ionChange)='onChangenumber(data.catt_mobile_no)' [(ngModel)]="data.catt_mobile_no" name="number" pattern="[0-9]" maxlength="10" placeholder="Phone Number" class="ionform"></ion-input>
        </ion-item>
    	 </ion-col>
       <div class="error">{{error.mobile_no}}</div>
       </ion-row>


<!--         <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Catering Name<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_catering_name" name="name" 
        (ionChange)='onChangeCaterName(data.catt_catering_name)'
        placeholder="Catering Name" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.catt_catering_name}}</div>
        </ion-row> -->
        

<!--         <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Caterer Info<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_catering_info" name="name" 
        (ionChange)='onChangeCaterinfo(data.catt_catering_info)'
        placeholder="Caterer Info" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.catt_catering_info}}</div>
        </ion-row> -->

         <button ion-button type="submit" block class="submitbtn but" style="height: 50px" (click)="updateProfile()"><strong>Update</strong></button>
</ion-content>
