page-addmenu {
    img {
        max-width: 100%;
        border: 0;
        width: 100px;
        height: 70px;
    }
    .ionform {
        border-bottom: 1px solid #ccc;
        margin-left: 0 !important
    }
    .ionformlabel {
        margin: 0;
        color: #434E5E;
        font-weight: 600;
    }
    /*.submitbtn{position: absolute;bottom: 5%;right: 5%;width: 90%;}*/
    .fileup {
        width: 75px;
        height: 65px;
        display: inline-block;
        margin: 10px 0 0 10px;
    }
    .fileup .bgimgs {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .fileupload {
        position: relative;
        width: 75px;
        height: 65px;
        display: inline-block;
        margin: 10px 0 0 10px;
        background: #b98d35;
        text-align: center;
        vertical-align: top;
        color: #ffffff;
        padding: 13px 0 0 0;
        font-size: 1rem
    }
    .fileupload input {
        visibility: hidden;
        position: absolute;
        background: #ebebeb;
    }
    ion-select {
        width: 100%
    }
    .text-input-md {
        margin: 13px 0px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    .text-input-ios {
        margin: 13px 0px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    .ic {
        position: absolute;
        color: #fff;
        float: right;
        font-weight: bolder;
        background: #333333;
        border-radius: 50%;
        font-size: 16px;
        margin-left: -13px;
    }
    .checkbox-md {
        position: absolute;
        display: inline-block;
        margin-top: 11px;
    }
    .checkbox-ios {
        position: absolute;
        display: inline-block;
        margin-top: 11px;
    }
    .error {
        color: red;
        margin: 1px 0px 0px 5px;
        font-size: small;
    }
    .mar {
        margin: 0;
        color: #434E5E !important;
        font-weight: 600;
        font-size: smaller;
    }
    .item-md {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-ios {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .select-text {
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 16px;
        font-size: 1.4rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    ion-select {
        display: flex;
        overflow: auto;
        max-width: 100%;
    }
    ion-select .scroll-content {
        overflow: auto !important;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .item-ios.item-input.item-input-has-focus .item-inner,
    .item-ios.item-input.input-has-focus .item-inner {
        border-bottom-color: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
}