<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add New Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <ion-row>
      <ion-col col-12>
      <ion-label class="ionformlabel">Item Name<span style="color:red">*</span></ion-label>
      </ion-col>
      <ion-col col-12>
      <ion-item no-lines>  
      <ion-input type="text" (ionChange)='onChangeName(data.menu_name)' (keyup.enter)="moveFocus(b)" [(ngModel)]="data.menu_name" name="dishname"
      placeholder="Item Name" class="ionform"></ion-input>
      </ion-item>
    	</ion-col>
      <div class="error">{{error.menu_name}}</div>
      </ion-row>

<!--       <ion-row>
      <ion-col col-12>
      		<ion-label class="ionformlabel">Description<span style="color:red">*</span></ion-label>
        <ion-input type="text" (ionChange)='onChangedesc(data.menu_description)' [(ngModel)]="data.menu_description" name="newpwd" placeholder="Description" class="ionform"></ion-input>
    	</ion-col>
      <div class="error">{{error.menu_description}}</div>
      </ion-row> -->

  <ion-row>
  <ion-col col-12>
  <ion-label class="ionformlabel">Item Description</ion-label>
  </ion-col>
  <ion-col col-12>
  <ion-item no-lines>     
  <ion-textarea #myInput id="myInput" placeholder="Item Description" #b (ionChange)='onChangedesc(data.menu_description)' rows="2" maxLength="100" (keyup)="resize()" class="ionform" [(ngModel)]="data.menu_description"></ion-textarea>
  </ion-item>
  </ion-col>
   <!-- <div class="error">{{error.menu_description}}</div> -->
  </ion-row>  



		    <ion-row>
       	<ion-col col-6>
      	<ion-label class="ionformlabel">Minimum Order</ion-label>
        <ion-input type="tel" [(ngModel)]="data.min_order" maxlength="4" (keyup.enter)="moveFocus(c)" (ionChange)='onChangemin()' name="minorder" placeholder="1" class="ionform"></ion-input>
    	  </ion-col>
    	  <ion-col col-6>
      	<ion-label class="ionformlabel">Maximum Order</ion-label>
        <ion-input type="tel" [(ngModel)]="data.max_order" maxlength="4" #c (keyup.enter)="moveFocus(d)" (ionChange)='onChangemin()' name="maxorder" placeholder="9999" class="ionform"></ion-input>
    	  </ion-col>
        <div class="error">{{error.order}}</div>
        </ion-row>

        <ion-row>
        <ion-col col-12>
          <ion-label class="ionformlabel">Pricing Per Person<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item no-lines>   
        <ion-input type="tel" pattern="[0-9]" maxlength="10" #d (keyup.enter)="moveFocus(e)" (ionChange)='onChangeprice(data.per_person_cost)' [(ngModel)]="data.per_person_cost" name="minorder" placeholder="(In Rupees)" class="ionform"></ion-input>
        </ion-item> 
        </ion-col>
      <div class="error">{{error.per_person_cost}}</div>
    </ion-row>

     <ion-row>
        <ion-col col-12>
          <ion-label class="ionformlabel">GST Percentage<span style="color:red">*</span></ion-label>
        </ion-col>
      <ion-col col-12>
      <ion-item no-lines>   
        <ion-input type="tel" pattern="[0-9]" maxlength="2" #e (keyup.enter)="moveFocus(f)" (ionChange)='onChangegstPer()' [(ngModel)]="data.gst_percent" name="minorder" placeholder="(In Percentage)" class="ionform"></ion-input>
      </ion-item>
      </ion-col>
      <div class="error">{{error.gst_percent}}</div>
    </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-label class="ionformlabel">HSN Number<span style="color:red">*</span></ion-label>
        </ion-col>
      <ion-col col-12>
      <ion-item no-lines>   
        <ion-input type="tel" pattern="[0-9]" #f (keyup.enter)="moveFocus(g)" (ionChange)='onChangeHSN()' [(ngModel)]="data.hsn_number" name="minorder" placeholder="(In Number)" class="ionform"></ion-input>
      </ion-item>  
      </ion-col>
      <div class="error">{{error.hsn_number}}</div>
    </ion-row>


     <ion-row>
        <ion-col col-12>
          <ion-label class="ionformlabel">Discount</ion-label>
        </ion-col>
       <ion-col col-12>
       <ion-item no-lines>   
        <ion-input type="tel"  pattern="[0-9]" maxlength="2" #g (keyup.enter)="moveFocus(h)" [(ngModel)]="data.discount" name="minorder" (ionChange)='onChangediscount()' placeholder="(In Percentage)" class="ionform"></ion-input>
       </ion-item> 
      </ion-col>
      <div class="error">{{error.discount}}</div>
    </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-label class="ionformlabel">Discount Duration</ion-label>
        </ion-col>
      <ion-col col-12>
      <ion-item no-lines>   
        <ion-input type="tel" pattern="[0-9]" maxlength="2" #h [(ngModel)]="data.discount_duration" name="minorder" placeholder="(No of Days)" (ionChange)='onChangedisduration()' class="ionform"></ion-input>
      </ion-item>  
      </ion-col>
      <div class="error">{{error.discount_duration}}</div>
    </ion-row>


      <ion-row>
      <ion-col col-12>
          <ion-label class="ionformlabel">Images</ion-label>
          <div *ngFor="let image of imagebox;let i = index" class="fileup">
            <!-- <div class="bgimgs" [style.backgroundImage]="'url('+ image.img +')'"><ion-icon (click)="deleteImage(i)" class="close ic" name="ios-close-circle-outline"></ion-icon></div> -->
             <div class="bgimgs"><img [src]="image.img"><ion-icon (click)="deleteImage(i)" class="close ic" name="ios-close-circle-outline"></ion-icon></div>
          </div>
          <ng-container *ngIf="count <= 5">
          <label for="fileupload" class="fileupload" (click)="getImage()"><span style="font-size: 2.5rem">+</span> <br> <span style="font-size: 1.2rem">Add Image</span></label>
        </ng-container>
      </ion-col>
      </ion-row> 


       
      <ion-row>
      <ion-col col-12>
         <ion-item>
        <ion-label floating class="mar">Vegetarian<span style="color:red">*</span></ion-label>
					<ion-select [(ngModel)]="data.is_veg" [selectOptions]="selectOptions" (ionChange)='onChangeisVeg(data.is_veg)'>
          <ion-option value="1">Yes</ion-option>
          <ion-option value="0">No</ion-option>
					</ion-select>
          </ion-item>
    	</ion-col>
      <div class="error">{{error.is_veg}}</div>
      </ion-row>


      <ion-row>
      <ion-col col-12>
         <ion-item>
         <ion-label floating class="mar">Meal Type<span style="color:red">*</span></ion-label>
          <ion-select [(ngModel)]="data.meal_type_id" [selectOptions]="selectOptions1" (ionChange)='onChangeMeal(data.mealtype_name)'>
         <ion-option *ngFor="let meal of mealsList"  value="{{meal.mealtype_id}}">{{meal.mealtype_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <div class="error">{{error.meal_type_id}}</div>
      </ion-row>

    <ion-row>
      <ion-col col-12>
          <ion-item>
         <ion-label floating class="mar">Cuisine Type<span style="color:red">*</span></ion-label>
          <ion-select [(ngModel)]="data.cuisine_type_id"  [selectOptions]="selectOptions2" (ionChange)='onChangeCui(data.cuis_name)'>
           <ion-option *ngFor="let cuisine of cuisineList"  value="{{cuisine.cuis_id}}">{{cuisine.cuis_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <div class="error">{{error.cuisine_type_id}}</div>
      </ion-row>

      <ion-row>
      <ion-col col-12>
         <ion-item>
         <ion-label floating class="mar">Packing Type<span style="color:red">*</span></ion-label> 
          <ion-select [(ngModel)]="data.package_type_id" [selectOptions]="selectOptions3" (ionChange)='onChangePack(data.pack_name)'>
        <ion-option *ngFor="let pack of Packinglist"  value="{{pack.pack_id}}">{{pack.pack_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <div class="error">{{error.package_type_id}}</div>
      </ion-row>


      <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="mar">Menu group</ion-label>
          <ion-select [(ngModel)]="data.item_group" [selectOptions]="selectOptions4" (ionChange)='onChangegroup(data.item_group)'>
          <ion-option *ngFor="let meal of menuList" value="{{meal.menu_id}}">{{meal.menu}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <!-- <div class="error">{{error.group_id}}</div> -->
      </ion-row>


    <ion-row>
    <ion-label style="margin-left: 30px;font-weight: 600;">Combo Item?</ion-label>
    <ion-checkbox [(ngModel)]="data.is_combo" (ionChange)='checkBox()' checked="false"></ion-checkbox>
    </ion-row>

<ng-container *ngIf="data.is_combo">
      <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating class="mar">No. of Items</ion-label>
          <ion-select [(ngModel)]="data.no_of_combo" (ionChange)='onChangecom()'>
          <ion-option *ngFor="let com of Combo_arr" value="{{com.value}}">{{com.value}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>


    <ion-row *ngFor="let att of Combo_List; let i = index">
    <ion-col col-6>
    <ion-item no-lines>  
    <ion-label floating class="mar">Group Name</ion-label>
    <ion-input type="text" [(ngModel)]="Combo_List[i].combo_name" name="comboname" class="ionform"></ion-input>
    </ion-item>
    </ion-col>
      
      <ion-col col-6>
          <ion-item> 
          <ion-label floating class="mar">Item List</ion-label>
          <ion-select multiple="true" [(ngModel)]="Combo_List[i].combo_item" [selectOptions]="selectOptions5">
          <ion-option *ngFor="let com of items" value="{{com.menu_id}}">{{com.menu_name}}</ion-option>
          </ion-select>
          </ion-item> 
      </ion-col>
      </ion-row>

</ng-container>


<!--     <ion-row>
    <ion-label style="margin-left: 30px;font-weight: 600;">Recommended or Special</ion-label>
    <ion-checkbox [(ngModel)]="data.is_recommended" checked="true"></ion-checkbox>
    </ion-row> -->

<ion-row>
<ion-col>
<p style="text-align: justify;font-size: small;"><strong>Note :</strong> If an image is added, it is shown as “Recommended” and appears at the top of the Item list for the Customers.
</p>
</ion-col>
</ion-row>


      <button ion-button type="submit" block class="submitbtn"  style="height: 50px;margin-top:20px;font-size: large" (click)="menu()">SUBMIT</button>

</ion-content>
