<!--
  Generated template for the MenuDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
    	<ion-col col-8>
    		<p class="title">{{Menu_Name}}</p>
		</ion-col>
		<ion-col col-4 class="text-right">
      <ng-container *ngIf="is_Admin == 'true'">
			<a (click)="menuEdit()" class="iconmenu"><img src="assets/imgs/menu/edit.png"></a>
			<a  (click)="MenuDelete()" class="iconmenu"><img src="assets/imgs/menu/trash.png"></a>
	    </ng-container>	
    </ion-col>
	</ion-row>
  </ion-navbar>
</ion-header>


<ion-content>
<!-- <ng-container *ngIf="ImageArrstat?.length > 0">
<ion-slides  autoplay="7000" loop="true" class="slides" pager="true" style="margin-top:5px">
     <ion-slide *ngFor="let Image of ImageArrstat">
       <img src="{{homeImagePath}}{{Image.img_url}}">
     </ion-slide>
</ion-slides>
</ng-container> -->


 <ng-container *ngIf="SlideArr?.length > 0">
<ion-slides  #slides loop="false" class="slides" pager="false" style="margin-top:5px">
  <ion-slide *ngFor="let image of SlideArr">
    <!-- <img src="{{ImagePath}}{{image.menu_imgname}}"> -->
   
    <div class="bgimg" [style.backgroundImage]="'url('+ getImage(image.menu_imgname) +')'"></div>
   
  </ion-slide>
  
</ion-slides>
</ng-container>

<div class="clickview" #slides *ngIf="SlideArr?.length > 1">
   <!-- <button ion-button [disabled]="slides.isBeginning"> -->
    <img src="assets/imgs/left-arrow.png" class="left" (click)="backward()">
  <!-- </button> -->
<!-- <button ion-button [disabled]="slides.isEnd"> -->
  <img src="assets/imgs/right-arrow.png" class="right" (click)="forward()">
<!-- </button> -->
</div>

<ng-container *ngIf="SlideArr?.length == 0">
  <img src="{{defaultMenuPic}}" style="width: 100%">
</ng-container>  

<!-- <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()"><img src="assets/imgs/home/arrow.png" alt="Arrows" class="imgarrow"></button>
<button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()"><img src="assets/imgs/home/arrow.png" alt="Arrows" class="imgarrow"></button> -->

<ion-row class="bggrey" align-items-center>

<ion-col col-6 class="vegcol">
<img alt="" *ngIf="MenuDetail.is_veg == true" src="assets/imgs/menu/veg.png">
      <img alt="" *ngIf="MenuDetail.is_veg == false" src="assets/menu_dot_red.png">
    <ng-container *ngIf="MenuDetail.is_veg == true"><p style="margin-top: 7px;font-size: 1.4rem;">Vegetarian</p></ng-container>
      <ng-container *ngIf="MenuDetail.is_veg == false"><p style="margin-top: 7px;font-size: 1.4rem;">Non-Vegetarian</p> </ng-container>
</ion-col>
<ion-col col-6>
	<img src="assets/imgs/menu/identity.png" alt="Identification" class="identity" *ngIf="MenuDetail.is_recommended">
	</ion-col>
</ion-row>

<ion-row padding>
	<h3 class="text-center">Item Description</h3>

	<p class="para" *ngIf="!MenuDetail.menu_description_changed">{{MenuDetail.menu_description}}</p>
  <p class="para" *ngIf="MenuDetail.menu_description_changed">{{MenuDetail.old_menu_description}}</p>

<!-- <ion-col col-12 class="led">
<p class="lead" style="padding-bottom: 8px;">Lead time&nbsp;&nbsp;:&nbsp;{{MenuDetail.caterer.catt_lead_time}} Days</p>
</ion-col> -->
<ng-container *ngIf="MenuDetail.min_order && MenuDetail.max_order">
<ion-row class="led">  
<ion-col col-6 style="border-right: 1px solid #dedede">
<p style="margin: 8px 0 0 12px;font-size: 1.4rem;padding-bottom: 8px;" *ngIf="!MenuDetail.min_order_changed"><strong>Min Order</strong> - {{MenuDetail.min_order}}</p>

<p style="margin: 8px 0 0 12px;font-size: 1.4rem;padding-bottom: 8px;" *ngIf="MenuDetail.min_order_changed"><strong>Min Order</strong> - {{MenuDetail.old_min_order}}</p>
</ion-col>

<ion-col col-6>
<p style="margin: 8px 0 0 12px;font-size: 1.4rem;padding-bottom: 8px;" *ngIf="!MenuDetail.max_order_changed"><strong>Max Order</strong> - {{MenuDetail.max_order}}</p>

<p style="margin: 8px 0 0 12px;font-size: 1.4rem;padding-bottom: 8px;" *ngIf="MenuDetail.max_order_changed"><strong>Max Order</strong> - {{MenuDetail.old_max_order}}</p>
</ion-col>
</ion-row>
</ng-container>


 <ion-list class="ionlist">
    <div ion-item>
     <img src="assets/imgs/menu/meal.png">
     <label *ngIf="!MenuDetail.meal_type_changed"><strong>Meal Type</strong>: {{MenuDetail.meal_type.mealtype_name}}</label>

     <label *ngIf="MenuDetail.meal_type_changed"><strong>Meal Type</strong>: {{MenuDetail.old__meal_type.mealtype_name}}</label>
    </div>

    <div ion-item>
      <img src="assets/imgs/menu/cusine.png">
      <label *ngIf="!MenuDetail.cuisine_changed"><strong>Cuisine Type</strong>: {{MenuDetail.cuisint_type.cuis_name}}</label>
       <label *ngIf="MenuDetail.cuisine_changed"><strong>Cuisine Type</strong>: {{MenuDetail.old__cuisint_type.cuis_name}}</label>
    </div>


    <div ion-item>
      <img src="assets/imgs/menu/package.png">
      <label *ngIf="!MenuDetail.package_changed"><strong>Packaging Type</strong>: {{MenuDetail.package_type.pack_name}}</label>
      <label *ngIf="MenuDetail.package_changed"><strong>Packaging Type</strong>: {{MenuDetail.old__package_type.pack_name}}</label>
    </div>

    <div ion-item>
    <img src="assets/imgs/menu/chef.png">
    <label><strong>Menu Group</strong>:<ng-container *ngIf="MenuDetail.groupss || MenuDetail.groupss != null">
      <span *ngIf="MenuDetail.groupss.group || MenuDetail.groupss.group != null">{{MenuDetail.groupss.group.menugroup_name}}</span></ng-container></label>
    </div>

<ng-container *ngIf="MenuDetail.is_combo">
    <div ion-item *ngFor="let Combo of MenuDetail.combos;let i = index">
      <ion-row>
      <ion-col col-12>
      <img src="assets/imgs/combo.png">
      <label><strong>Group Name&nbsp;{{i+1}}</strong>&nbsp;: <span>{{Combo.group_name}}</span></label>
      </ion-col>  

      <ion-col col-3>
       <ul *ngFor="let com of Combo.combo_items">
         <li *ngIf="com.combo_menu.menu_name">{{com.combo_menu.menu_name}}</li>
       </ul>
      </ion-col>  
      </ion-row>
    </div>
</ng-container>
  </ion-list>

    <ion-col col-6 *ngIf="MenuDetail.discount_duration">
    <div class="b">
    <ng-container *ngIf="!MenuDetail.discount_off_changed">  
    <button class="but" *ngIf="MenuDetail.discount_off">{{MenuDetail.discount_off}}% OFF</button>
    </ng-container>

    <ng-container *ngIf="MenuDetail.discount_off_changed">  
    <button class="but" *ngIf="MenuDetail.old_discount_off">{{MenuDetail.old_discount_off}}% OFF</button>
    </ng-container>

    <p style="font-size: x-small;text-align: -webkit-center;" *ngIf="!MenuDetail.discount_duration_changed">{{MenuDetail.discount_duration}} Days Left</p>
    <p style="font-size: x-small;text-align: -webkit-center;" *ngIf="MenuDetail.discount_duration_changed">{{MenuDetail.old_discount_duration}} Days Left</p>
    </div>  
    </ion-col>

    <ion-col col-6 *ngIf="!MenuDetail.discount_duration">
    <ng-container *ngIf="!MenuDetail.discount_off_changed">  
    <button class="without_days" *ngIf="MenuDetail.discount_off">{{MenuDetail.discount_off}}% OFF</button>
    </ng-container>

    <ng-container *ngIf="MenuDetail.discount_off_changed">  
    <button class="without_days" *ngIf="MenuDetail.old_discount_off">{{MenuDetail.old_discount_off}}% OFF</button>
    </ng-container>
    </ion-col>



<ion-col col-6 align-self-end>
<h4 class="text-right" *ngIf="!MenuDetail.price_changed">Rs.{{MenuDetail.per_person_cost}} <label>Per person</label></h4>
<h4 class="text-right" *ngIf="MenuDetail.price_changed">Rs.{{MenuDetail.old_price_person_cost}} <label>Per person</label></h4>

<h1 class="gst" *ngIf="!MenuDetail.gst_changed">(Excluding {{MenuDetail.gst_percent}}% GST)</h1>
<h1 class="gst" *ngIf="MenuDetail.gst_changed">(Excluding {{MenuDetail.old_gst_percent}}% GST)</h1>
</ion-col>
<!-- <ion-col col-12>
	<button class="ionbtn">CREATE OFFER</button>
</ion-col> -->
</ion-row>


</ion-content>
