page-menu-detail {
    .btnPrev {
        position: absolute;
        top: 0;
        z-index: 123
    }
    .btnNext {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 123
    }
    .slides {
        height: 34vh;
        margin-top: -1vh !important;
    }
    .bggrey {
        background: #ebebeb;
        margin-top: -8px;
        padding: 5px 5px 0px 5px;
    }
    .vegcol img {
        float: left;
        max-width: 13px;
        margin: 8px 8px 0 0
    }
    .identity {
        max-height: 20px;
        float: right;
        margin-top: -10px;
    }
    .text-center {
        text-align: center;
        font-weight: 600;
    }
    .text-justify {
        text-align: justify
    }
    p {
        font-size: 16px;
        margin-top: 0;
    }
    .ionlist img {
        float: left;
        max-height: 26px;
        margin-right: 15px;
    }
    .ionlist {
        width: 100%
    }
    .ionlist .item-ios {
        padding-left: 0
    }
    .but {
        color: #008200;
        font-weight: bold;
        background: transparent;
    }
    .b {
        padding: 8px 10px;
        border: 1px dotted #008200;
        background: transparent;
        height: 60px;
        width: 95px;
    }
    .text-right {
        text-align: right !important;
        font-weight: 600;
    }
    h4 {
        font-size: 16px
    }
    h4 label {
        display: block;
        text-align: right;
        color: #828282;
        font-weight: normal
    }
    .ionbtn {
        background: #b98d36;
        color: #ffffff;
        width: 100%;
        text-transform: uppercase;
        padding: 12px;
        height: 45px;
        font-weight: 500;
        font-size: 1.6rem;
    }
    .iconmenu img {
        max-height: 20px
    }
    .toolbar-ios ion-title {
        position: relative;
        padding: 0
    }
    p.title {
        color: #ffffff;
        font-size: 18px;
        margin: 0;
        overflow: hidden !important;
        text-align: center;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    h3 {
        font-size: 1.5rem;
    }
    .iconmenu {
        margin-right: 10px
    }
    p {
        font-size: 1.2rem;
        margin-top: 2px;
    }
    .item-md {
        padding-left: 0px !important;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-ios {
        padding-left: 0px !important;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    label {
        font-family: inherit;
        line-height: normal;
        font-size: 1.4rem;
    }
    .ionlist img {
        float: left;
        max-height: 15px;
        margin-right: 15px;
    }
    .without_days {
        color: #008200;
        padding: 0px 15px;
        border: 1px dotted #008200;
        background: transparent;
        height: 35px;
        font-weight: bold;
    }
    .led {
        border: 1px solid #dedede;
        border-left: 0;
        border-right: 0;
        margin-bottom: 1px;
        width: 100%;
    }
    .min {
        border: 1px solid #dedede;
        border-right: 0;
        margin-bottom: 1px;
    }
    .lead {
        margin: 8px 0 0 0;
        color: #b98d36;
        font-weight: 600;
        font-size: 1.4rem;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
    .gst {
        font-size: smaller;
        color: #000;
        float: right;
        margin-top: -7px;
    }
    .para {
        line-height: 1.6;
        margin-top: 15px;
        white-space: pre-line;
        font-size: 1.4rem;
        text-align: justify;
    }
    .bgimg {
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
        background-position: center;
        background-size: cover;
    }
    .clickview {
        position: absolute;
        top: 15vh;
        margin-top: -10px;
        z-index: 123;
        width: 100%;
    }
    .left {
        float: left;
        width: 25px;
        height: 25px;
    }
    .right {
        float: right;
        width: 25px;
        height: 25px;
    }
}