<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    	<strong>Payment</strong>
    </ion-title>
    <ion-buttons end (click)="flagStatus=!flagStatus">
     <button  ion-button icon-only>
       <ion-icon name="search"></ion-icon>
     </button>
   </ion-buttons>	
  </ion-navbar>
</ion-header>

<ion-content class="bggrey">
  
      <ion-searchbar *ngIf="flagStatus"
    [(ngModel)]="searchText"
    [showCancelButton]="true"
    (ionInput)="onFilter($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

<ng-container *ngIf="misreport?.length == 0">
<p class="pay">No Payment Details</p>
</ng-container>  

<ng-container *ngIf="misreport?.length > 0">
	<div *ngFor="let mis of misreport">
		<ion-card>
<ion-row class="padset">
<!-- <ion-col col-6>
<strong>Date</strong>
</ion-col>
<ion-col col-6>
{{toDate(mis.created_at)}}
</ion-col> -->
<ion-col col-6>
<strong>Order Number</strong>
</ion-col>
<ion-col col-6>
 {{mis.order_id}}
</ion-col>


<ion-col col-6>
<strong>Payment Status</strong>
</ion-col>
<ion-col col-6>
 {{mis.pay_status}}
</ion-col>

<ion-col col-6>
<strong>Payment Mode</strong>
</ion-col>
<ion-col col-6>
 {{mis.pay_mode}}
</ion-col>

<ion-col col-6>
<strong>Payment Date</strong>
</ion-col>
<ion-col col-6>
 {{mis.payment_date}}
</ion-col>


<ion-col col-6>
<strong>Transaction Detail</strong>
</ion-col>
<ion-col col-6>
{{mis.ord_transation_status}}
</ion-col>
<ion-col col-6>
<strong>Total Amount</strong>
</ion-col>
<ion-col col-6 style="font-weight: 500">
Rs.{{mis.ord_total_amount}}/-
</ion-col>

</ion-row>
</ion-card>
</div>
</ng-container>
</ion-content>