page-payment {
	.pay {
		margin-top: 50%;
		text-align: -webkit-center;
		font-weight: 400;
		font-size: large;
	}
	.bggrey {
		background: #ebebeb;
		padding: 5px
	}
	.padset {
		margin: 10px;
	}
	.card-ios {
		padding: 4px
	}
}