<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title>Menu</ion-title> -->
  <ion-row>
<!--   <ion-col col-4>
   <div class="cover">
  <div class="item-profile circle-pic" text-center #profilePic [style.background-image]="'url(' + defaultPic + ')'">
  </div>
  </div>
  </ion-col> -->
  
  <ion-col col-12 style="padding-left: 65px;">
    <ion-row *ngIf="carter_name">
    <p style="color:#fff;font-size:2rem;margin-top: 15px;" class="text_overflow">{{carter_name}}</p>
    </ion-row>
    <ion-row *ngIf="carter_mail">
    <p style="color:#fff;margin-top: -10px;width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;" class="text_overflow">{{carter_mail}}</p>
    </ion-row>
  </ion-col>
  </ion-row>      
 

      </ion-toolbar>
    </ion-header>



    <ion-content style="background: #2C2F32;">
      <ion-list *ngIf="!auditDeactivate">
  <button menuClose ion-item (click)="openPage('DashboardPage')" class="colo">
    <ion-icon name="appname-custom1" item-left style="color: #B6942B;"></ion-icon>
    Home
  </button>

  <button menuClose ion-item (click)="openPage('ConfirmationPage')" class="colo">
    <ion-icon name="appname-custom5" item-left style="color: #B6942B;"></ion-icon>
    New Orders
  </button>

   <button menuClose ion-item (click)="openPage('OrdersPage')" class="colo">
    <ion-icon name="appname-custom4" item-left style="color: #B6942B;"></ion-icon>
    Orders
  </button>

  <ng-container *ngIf="is_Admin == 'true'">
   <button menuClose ion-item (click)="openPage('PaymentPage')" class="colo">
    <ion-icon name="appname-custom8" item-left style="color: #B6942B;"></ion-icon>
    Payments
  </button>
  </ng-container>

  <button menuClose ion-item (click)="openPage('VendorPage')" class="colo">
    <ion-icon name="appname-custom6" item-left style="color: #B6942B;"></ion-icon>
    Vendor Info
  </button>

  <button menuClose ion-item  (click)="openPage('MenusPage')" class="colo">
    <ion-icon name="appname-custom3" item-left style="color: #B6942B;"></ion-icon>
   Menu
  </button>

<ng-container *ngIf="is_Admin == 'true'">
   <button menuClose ion-item (click)="openPage('AuditPage')" class="colo">
    <ion-icon name="appname-custom7" item-left style="color: #B6942B;"></ion-icon>
    Audit
  </button>
</ng-container>

  <button menuClose ion-item (click)="openPage('MyProfilePage')" class="colo">
    <ion-icon name="appname-custom9" item-left style="color: #B6942B;"></ion-icon>
    Profile
  </button>

  <button menuClose ion-item (click)="logout()" class="colo">
     <ion-icon name="appname-custom11" item-left style="color: #B6942B;"></ion-icon>
   Logout
  </button>
<!--     <button menuClose ion-item (click)="quit()" class="colo">
     <ion-icon name="appname-custom10" item-left style="color: #B6942B;"></ion-icon>
   Exit
  </button> -->
      </ion-list>


<ion-list *ngIf="auditDeactivate">
  <button menuClose ion-item (click)="openPage('DashboardPage')" class="colo">
    <ion-icon name="appname-custom1" item-left style="color: #B6942B;"></ion-icon>
    Home
  </button>

  <ng-container *ngIf="is_Admin == 'true'">
   <button menuClose ion-item (click)="openPage('AuditPage')" class="colo">
    <ion-icon name="appname-custom7" item-left style="color: #B6942B;"></ion-icon>
    Audit
  </button>
  </ng-container>
  
  <button menuClose ion-item (click)="logout()" class="colo">
     <ion-icon name="appname-custom11" item-left style="color: #B6942B;"></ion-icon>
   Logout
  </button>


</ion-list>

    </ion-content>
  </ion-menu>
  <ion-nav #content [root]="rootPage"></ion-nav>
