<ion-header>
  <ion-navbar color="primary">
    <ion-title><strong>Certificate Edit</strong></ion-title>
     <ion-buttons end (click)="show()">
      <button  ion-button icon-only>
       <img src="assets/imgs/delete.png" alt="Delete" class="tdimg" style="max-width: 17px !important;">
      </button>
    </ion-buttons>
  
</ion-navbar>
</ion-header>


<ion-content padding>
<ion-row  (click)="takeSnap()">
  <ion-col col-12>
   <ion-item no-padding>
    <ion-label class="ico1 lab">GST Certificate<ion-icon  class="ico" name="cloud-upload"></ion-icon>
    </ion-label>
  </ion-item>
   </ion-col>
</ion-row>

<ion-row *ngIf="imageURI">
<ion-col col-4 class="im">
<!-- <img class="slide-image img circleP" src="{{GST_path}}{{imageURI}}" (click)="fullView(imageURI)" /> -->

 <div [style.backgroundImage]="'url('+ gstPath(imageURI) +')'" class="back_img" (click)="fullView(imageURI)"></div>

<ion-icon (click)="GSTCertificateDelete()" *ngIf="certifi_delete" class="close ic" name="ios-close-circle-outline">
</ion-icon>
</ion-col>
</ion-row>

<ng-container *ngIf="Certificate?.length > 0">
<ng-container *ngFor="let certi of Certificate;let i = index">
<ion-row>
<ion-col col-12>
   <ion-label class="ionformlabel">{{certi.certify_name}}</ion-label>
</ion-col>
</ion-row>

<ion-row>
<ion-col col-4 class="im">
<!-- <img class="slide-image img circleP" src="{{Food_certi}}{{certi.certify_file}}" (click)="fullViews(certi.certify_file)" /> -->

 <div [style.backgroundImage]="'url('+ otherCertificatePath(certi.certify_file) +')'" class="back_img" (click)="fullViews(certi.certify_file)"></div>

<ion-icon (click)="OtherCertificateDelete(certi)" *ngIf="certifi_delete" class="close ic" name="ios-close-circle-outline">
</ion-icon>
</ion-col>
</ion-row>
</ng-container>  
</ng-container>


<div *ngIf="showDiv" style="margin-top:20px">
 <ion-row>
      <ion-col col-8>
      <ion-label class="ionformlabel">Certificate Name<span style="color:red">*</span></ion-label>
      <ion-input type="text" (ionChange)='onChangeName(data.picName)' [(ngModel)]="data.picName" name="dishname"
      placeholder="Picture Name" class="ionform"></ion-input>
       <ion-icon (click)="getImage()" class="passwordIcon" name="cloud-upload"></ion-icon>
      </ion-col>

 <ion-col col-4>
         <button (click)="uploadPic()" class="bu">Submit</button>
 </ion-col>

</ion-row>
</div>



<button ion-button  (click)="showDiv = !showDiv" *ngIf="certi_count <= 2">Upload Another Certificate</button>

</ion-content>
