<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>Confirmation Details</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-row class="bggrey">
	<ion-col col-12><strong>Customer Details</strong></ion-col>
</ion-row>
<ion-row class="bgwhite">
	<ion-col col-12>
		<p><span class="f">Customer name : </span>{{confirmationDeatil.userslist.usr_first_name}}</p>
		<!-- <p><span class="f">Pincode : </span>{{confirmationDeatil.ship.ship_add_pincode}}</p> -->
		<p><span class="f">Delivery Address :</span></p>
		<p style="text-align: -webkit-left;">{{confirmationDeatil.ship.ship_add_name}},{{confirmationDeatil.ship.ship_add_landmark}},{{confirmationDeatil.ship.ship_add_address}},{{confirmationDeatil.ship.ship_add_city}}-{{confirmationDeatil.ship.ship_add_pincode}}</p>
		<p><span class="f">Order No : </span>{{confirmationDeatil.order_id}}</p>
	</ion-col>
</ion-row>
<ion-row class="bggrey">
	<ion-col col-12><strong>Delivery Date and Time</strong></ion-col>
</ion-row>
<ion-row class="bgwhite">
	<ion-col col-12>
		<p><span class="f">Delivery Date : </span>{{confirmationDeatil.delivery_dates}}</p>
		<p><span class="f">Delivery Time : </span>{{timeconvert(confirmationDeatil.delivery_time)}}</p>
	</ion-col>
</ion-row>
<ion-row class="bggrey">
	<ion-col col-12><strong>Menus</strong></ion-col>
</ion-row>

<ion-row align-items-center class="bgwhite font13" *ngFor="let menu of menus">
	<ion-col col-3 *ngIf="menu.menu_details.images?.length > 0">
	<div class="menuitem" [style.backgroundImage]="'url('+ showImage(menu.menu_details.images[0].menu_imgname) +')'" style="    width: 60px;
    height: 50px;
    background-size: cover;"></div>
	</ion-col>
	<ion-col col-3 *ngIf="menu.menu_details.images?.length == 0">
	<div class="menuitem" [style.backgroundImage]="'url('+ defaultMenuPic +')'" style="width: 60px;height: 50px;
	background-size: cover;"></div>
	</ion-col>
	<ion-col col-6 style="text-align: -webkit-center;">
		{{menu.menu_details.menu_name}}
	</ion-col>
	<ion-col col-3 class="text-right">
		{{menu.quantity}} X {{menu.price}}
	</ion-col>
</ion-row>

<ion-row align-items-center class="brtop">
<ion-col col-7>
<h4 class="text-right" style="
    font-size: 1.4rem;
    margin-top: 0;
"><strong>Total Bill Value</strong></h4>
</ion-col>
<ion-col col-5 class="text-right font13" style="margin-top:10px">
	<strong>Rs. {{confirmationDeatil.ord_total_amount}}/-</strong>
	<!-- <p class="per">Per Person</p> -->
</ion-col>
</ion-row>

<ion-row class="bggrey">
	<ion-col col-12><strong>Instructions</strong></ion-col>
</ion-row>
<ion-row class="bgwhite">
	<ion-col col-12>
		<p><span class="f">Contact Person Details :</span></p>
		<ul>
			<li>Name&nbsp;:&nbsp;{{confirmationDeatil.userslist.usr_first_name}}</li>
			<li>Mobile No&nbsp;:&nbsp;{{confirmationDeatil.userslist.usr_mobile_no}}</li>
		</ul>
		<ng-container *ngIf="confirmationDeatil.ord_food_instruct && confirmationDeatil.ord_food_instruct != null">
		<p><span class="f">Food Instruction    : </span></p>
		<p>{{confirmationDeatil.ord_food_instruct}}</p>
        </ng-container>

        <ng-container *ngIf="confirmationDeatil.ord_delivery_instruct && confirmationDeatil.ord_delivery_instruct != null">
		<p><span class="f">Delivery Instruction : </span></p>
		<p>{{confirmationDeatil.ord_delivery_instruct}}</p>
        </ng-container>
	</ion-col>
</ion-row>

<ion-row>
	<ion-col col-6  class="text-center green">
		<ion-buttons (click)="toconfirm()">
		  <button  ion-button  block class="btn_tr_cnfrm">
       <strong>CONFIRM</strong>
      </button>
    </ion-buttons>
	</ion-col>

	<ion-col col-6  class="text-center green">
		<ion-buttons  (click)="tocancel()">
	    <button block ion-button class="btn_tr">
      <strong> CANCEL</strong>
      </button>
		</ion-buttons>
	</ion-col>
</ion-row>

</ion-content>