page-confirmation-detail {
    .bggrey {
        background: #ebebeb;
        padding: 5px 10px
    }
    .bgwhite {
        background: #ffffff;
        padding: 5px 10px
    }
    .bgwhite p {
        margin: 0 0 5px 0
    }
    .menuitem {
        height: 40px;
        width: 100%;
    }
    .font13 {
        font-size: 13px
    }
    .text-right {
        text-align: right
    }
    .text-center {
        text-align: center
    }
    h4 {
        font-size: 1.2rem
    }
    .green {
        color: green
    }
    .brtop {
        border-top: 1px solid #dedede;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btn_tr_cnfrm {
        border: 1px solid #008200;
        color: #008200;
        background: transparent;
        padding: 10px;
        margin: 10px auto 15px auto;
        width: 80%;
    }
    .toolbar-ios ion-title {
        padding: 0 !important
    }
    .btn_tr {
        border: 1px solid #ff0000;
        color: #ff0000;
        background: transparent;
        padding: 10px;
        margin: 10px auto 15px auto;
        width: 80%
    }
    .per {
        margin-top: 2px;
        margin-right: 0px;
        font-size: 1.2rem;
        font-weight: 200;
    }
    .f {
        font-weight: 400;
    }
}