page-menugroup {
    .ionform {
        border-bottom: 1px solid #ccc;
        margin-left: 0 !important
    }
    .error {
        color: red;
        margin: 1px 0px 0px 5px;
        font-size: small;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
    ion-icon {
        &[class*="appname-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            background-position: center;
            width: 1em;
            height: 1em;
        }
        // custom icons
        &[class*="appname-custo1"] {
            mask-image: url('../assets/imgs/menu/trash.png');
        }
    }
    .ico {
        margin: -5px 0px 0px 5px;
        position: absolute;
        font-weight: bold;
        color: red;
    }
}