<!--
  Generated template for the MenugroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Menu Group</ion-title>
     <ion-buttons end *ngIf="!ShowMinus && menuNames?.length > 0">
      <button  ion-button icon-only (click)="show()">
        Re-order
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="ShowMinus;">
      <button  ion-button icon-only (click)="done()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

     <!--  <ion-row>
      <ion-col col-12>
        <ion-item>
         <ion-label floating>Group Name<span style="color:red">*</span></ion-label>
          <ion-select [(ngModel)]="data.menu_name">
          <ion-option *ngFor="let meal of menuNames"  (ionSelect)="onChangeName(meal.menugroup_id)" value="{{meal.menugroup_id}}">{{meal.menugroup_name}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <div class="error">{{error.menu_name}}</div>
      </ion-row>


      <ion-row>
      <ion-col col-12>
         <ion-item>
         <ion-label floating class="ionformlabel">Menu Items<span style="color:red">*</span></ion-label>
          <ion-select multiple="true" [(ngModel)]="data.menu_items">
          <ion-option *ngFor="let meal of menuList" (ionSelect)="onChangeValue()" value="{{meal.menu_id}}">{{meal.menu}}</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <div class="error">{{error.menu_items}}</div>
      </ion-row>

      <button ion-button type="submit" block class="submitbtn but" style="height: 50px;margin-top: 50px;" (click)="updateMenugroup()">Update</button> -->



<!-- <ng-container *ngIf="menuNames?.length > 0">
<div class="bgwhite">
  <ion-row>
      <ul *ngFor="let gru of menuNames">
         <li style="font-size: larger;">{{gru.menugroup_name}}<ion-icon (click)="presentActionSheetGroupMenu(gru)" class="ico" *ngIf="ShowMinus" name="ios-close-circle-outline"></ion-icon></li>
      </ul> 
  </ion-row>
</div>  
</ng-container> -->

<ng-container *ngIf="ShowMinus">
 <ion-list>
 <!-- <ion-item-group reorder="true" (ionItemReorder)="$event.applyTo(menuNames)">    -->
  <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">  
<ion-item-sliding *ngFor="let data of menuNames;let i = index" #slidingItem (ionItemReorder)="reorderItems($event)">
<button ion-item>     
<ion-row style="padding: 10px 7px 0px 7px;">
<ion-col col-12 class="hed">
{{data.menugroup_name}}
</ion-col> 
</ion-row>
<!-- <hr> -->
</button>
      <ion-item-options *ngIf="is_Admin == 'true'"  side="right" (ionSwipe)="presentActionSheetGroupMenu(data,slidingItem)">
        <button ion-button color="danger" expandable (click)="presentActionSheetGroupMenu(data,slidingItem)">
         Delete
        </button>
      </ion-item-options>
      <!--  <ion-item-options side="left" *ngIf="is_Admin == 'true'" (ionSwipe)="Edit(slidingItem,data)">
      <button ion-button color="blue" expandable (click)="Edit(slidingItem,data)">Edit</button>
      </ion-item-options> -->
    </ion-item-sliding>
   </ion-item-group> 
</ion-list>
</ng-container>

<ng-container *ngIf="!ShowMinus">
 <ion-list>
 <ion-item-group reorder="false" (ionItemReorder)="$event.applyTo(menuNames)">  
<ion-item-sliding *ngFor="let data of menuNames;let i = index" #slidingItem>
<button ion-item>     
<ion-row style="padding: 10px 7px 0px 7px;">
<ion-col col-12 class="hed">
{{data.menugroup_name}}
</ion-col> 
</ion-row>
<!-- <hr> -->
</button>
  <ion-item-options *ngIf="is_Admin == 'true'" side="right" (ionSwipe)="presentActionSheetGroupMenu(data,slidingItem)">
        <button ion-button color="danger" expandable (click)="presentActionSheetGroupMenu(data,slidingItem)">
         Delete
        </button>
      </ion-item-options>
<!--       <ion-item-options side="left" *ngIf="is_Admin == 'true'" (ionSwipe)="Edit(slidingItem,data)">
      <button ion-button color="blue" expandable (click)="Edit(slidingItem,data)">Edit</button>
      </ion-item-options> -->
    </ion-item-sliding>
   </ion-item-group> 
</ion-list>
</ng-container>

<ng-container *ngIf="menuNames?.length == 0">
  <p text-center style="margin-top:50px">No Menu Group</p>
</ng-container>

<ion-footer>
<ion-row>
<ion-col>
<p style="text-align: justify;"><strong>Note</strong>: To Delete A Menu Group Swipe Left. For Bulk Upload And Edits, Please Go To The Platos Website.</p>
</ion-col>
</ion-row>
</ion-footer>

</ion-content>
