page-forgot {
    .tit {
        font-weight: 500;
        font-size: 2.0rem;
    }
    .but {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .lab {
        color: #404f5d;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .gre {
        font-size: 1.6rem;
        color: #6e6e6e;
        text-align: -webkit-center;
    }
    .header-md::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-image: none;
        background-repeat: repeat-x;
        content: "";
    }
    .header-ios::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-image: none;
        background-repeat: repeat-x;
        content: "";
    }
    .toolbar-md-primary .bar-button-outline-md {
        color: #000;
    }
    .toolbar-ios-primary .bar-button-outline-ios {
        color: #000;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: transparent;
        box-shadow: 0 0 0;
    }
    .toolbar-background-ios {
        border-color: #b2b2b2;
        background: transparent;
        box-shadow: 0 0 0;
    }
}