<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>Audit</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-row>
	<ion-col col-12>
		 <ng-container *ngIf="firstArr">
		<p *ngIf="firstArr.audit_score" style="font-weight: 600">Audit score: <span style="font-weight: 500 !important">{{firstArr.audit_score}}</span></p>
	    </ng-container>
		<p><strong>Next Audit Date :</strong> On or Before Dec 26, 2019</p>
        <ng-container *ngIf="firstArr">
		<a (click)="checkfile(firstArr.audit_file)" class="auditfile" *ngIf="firstArr.audit_file">
			Download Audit File
		<ion-icon name="download" class="dnwicon"></ion-icon>
		<span class="filesize" *ngIf="firstArr.file_size">File Size : {{bytesToSize(firstArr.file_size)}}</span>
	   </a>
	    </ng-container>
		<ion-buttons class="grbtn" (click)="reqAudit()">
			<button style="background: transparent;color: #fff;">Request for Audit</button>
		</ion-buttons>
	</ion-col>
</ion-row>

<ion-row>
<ion-col>
<p><strong>Note :</strong>  For Audit Score Over 80 , We Give Caterers A Platos Medal For Cleanliness & Hygiene.
</p>
</ion-col>
</ion-row>

<strong>Past Audit Files</strong>
	<ion-grid *ngIf="audit?.length != 0">
		<ion-row>
		<ion-col col-3>
		<strong class="line">Date</strong>
		</ion-col>
		<ion-col col-4>
		<strong class="line">Audit Score</strong>
		</ion-col>
		<ion-col col-2>
        <strong class="line">Size</strong>
		</ion-col>
		<ion-col col-3>
        <strong class="line">Download</strong>
		</ion-col>
		</ion-row>
	</ion-grid>	
<hr>
<ng-container *ngIf="audit?.length == 0">
	No audit files
</ng-container>	
<ng-container *ngFor="let listitem of audit">
<ion-row class="mtop" align-items-center *ngIf="listitem.audit_file">
<ion-col col-3>
	{{toDate(listitem.created_at)}}
</ion-col>
<ion-col col-4 *ngIf="listitem.audit_score" style="text-align: center">
	{{listitem.audit_score}}
</ion-col>
<ion-col col-2>
	{{bytesToSize(listitem.file_size)}}
</ion-col>
<ion-col col-3 style="text-align:center">
	<a (click)="checkfile(listitem.audit_file)"><ion-icon name="download" class="dnwicon" style="float:none !important;"></ion-icon></a>
</ion-col>
</ion-row>
</ng-container>







</ion-content>
