page-audit {
    .auditfile {
        padding: 7px;
        border: 1px solid;
        text-decoration: none;
        display: block;
        text-align: left;
        width: 145px;
        font-size: 1.2rem;
        float: left;
    }
    .dnwicon {
        float: right;
        font-size: 27px;
    }
    .filesize {
        display: block;
        text-align: left;
        color: #333333;
        margin: 6px 0 0 0;
    }
    .grbtn {
        float: left;
        width: 130px;
        height: 60px;
        margin-left: 20px;
        background: #b98d35;
        color: #fff;
        text-align: center;
        padding: 20px 0 20px 0px;
    }
    .ionpad {
        padding: 10px;
    }
    .mtop {
        margin-top: 4px;
        border-bottom: 1px solid #cccc;
    }
    strong {
        display: block;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
    }
    .line {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden !important;
    }
}