<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>Item List</strong></ion-title>
      <ion-buttons end *ngIf="goLive && is_Admin == 'true'" (click)="golive()">
      <button  ion-button icon-only>
        <!-- <ion-icon name="appname-custo2"></ion-icon> -->
        <p class="liv">GO LIVE</p>
      </button>
    </ion-buttons>
      <ion-buttons end (click)="flagStatus=!flagStatus;scrollToTop()">
      <button  ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="grbg">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>  

  
  <ion-searchbar *ngIf="flagStatus"
    [(ngModel)]="searchText"
    placeholder="Search"
    [showCancelButton]="true"
    (ionInput)="onFilter($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

	<ng-container *ngIf="totalPages == 0">
		<p class="empty">No Menu Details</p>
	</ng-container>



<ng-container *ngIf="totalPages > 0">	
<ion-card *ngFor="let list of menuarray;" (click)="menuDetail(list)">
<ion-card-content class="cardpad">
	<ion-row class="whitebg">
	<ion-col col-4 *ngIf="list.images[0]">

		<div class="bgimg" [style.backgroundImage]="'url('+ getImage(list.images[0].menu_imgname) +')'" ></div>
   
   <ng-container *ngIf="!list.discount_off_changed">
    <p class="dis" style="font-size: 1.6rem !important;font-weight: 600 !important;" *ngIf="list.discount_off">{{list.discount_off}}% OFF</p>
   </ng-container>

    <ng-container *ngIf="list.discount_off_changed">
    <p class="dis" style="font-size: 1.6rem !important;font-weight: 600 !important;" *ngIf="list.old_discount_off">{{list.old_discount_off}}% OFF</p>
   </ng-container>


	</ion-col>
	<ion-col col-4 *ngIf="!list.images[0]">
		<div class="bgimg" [style.backgroundImage]="'url('+ defaultMenuPic +')'">
		</div>
	</ion-col>
	<ion-col col-5>
		<h3 *ngIf="!list.menu_name_changed" class="text_overflow">{{list.menu_name | uppercase}}</h3>
    <h3 *ngIf="list.menu_name_changed" class="text_overflow">{{list.old_menu_name | uppercase}}</h3>
		<!-- <label>Min - {{list.min}}</label> : <label>Max - {{list.max}}</label> -->
		<!-- <p><strong>Lead time: {{list.caterer.catt_lead_time}} Days</strong></p> -->
		<!-- <h2><strong>Description</strong>: {{list.menu_description}}</h2> -->
   <ng-container *ngIf="list.groupss || list.groupss != null">
    <h2 *ngIf="list.groupss.group || list.groupss.group != null">{{list.groupss.group.menugroup_name}}</h2>
   </ng-container>
    
    <h2 *ngIf="!list.groupss || list.groupss.group == null">&nbsp;</h2>
		<span>
			<img alt=""  *ngIf="list.is_veg == true" src="assets/imgs/menu/veg.png">
			<img alt="" *ngIf="list.is_veg == false" src="assets/menu_dot_red.png">
			<ng-container *ngIf="list.is_veg == true"> Vegetarian </ng-container>
			<ng-container *ngIf="list.is_veg == false"> Non-Vegetarian</ng-container>
		</span>
		
	 <ng-container *ngIf="!list.price_changed">
		<p *ngIf="list.per_person_cost"><ion-icon name="appname-custo1" style="font-size: xx-small;"></ion-icon><strong style="color: #000;font-weight: 300;">{{list.per_person_cost}}&nbsp;per person</strong></p>
   </ng-container>

  <ng-container *ngIf="list.price_changed">
  <p *ngIf="list.per_person_cost"><ion-icon name="appname-custo1" style="font-size: xx-small;"></ion-icon><strong style="color: #000;font-weight: 300;">{{list.old_price_person_cost}}&nbsp;per person</strong></p>
  </ng-container>
  
     <img src="assets/imgs/identity.png" class="identify" *ngIf="list.is_recommended"> 
  </ion-col>

  <ion-col col-3>
    <ion-row justify-content-end> 
    <p class="sta_dis" *ngIf="list.is_active == false && list.newly_added == '0'">Disapproved</p>
    <p class="sta_p" *ngIf="list.newly_added != '0'">Pending</p>
    <p class="sta_l" *ngIf="list.is_active == true && list.newly_added == '0'">Approved</p>
   </ion-row>  
   
   <ion-row justify-content-end>
       <button class="">View More</button>
   </ion-row>

  </ion-col>  
</ion-row>
</ion-card-content>
</ion-card>
</ng-container>

<ion-infinite-scroll (ionInfinite)="LoadData($event)" *ngIf="infiniteScrollEnabled" >
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

<!-- <ion-fab bottom right>
  <button ion-fab  *ngIf="is_Admin == 'true'" (click)="addmenu()"><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
</ion-fab> -->

  <ion-fab bottom right #fab>
   <button ion-fab>
     <ion-icon ios="ios-add" md="md-add"></ion-icon>
  </button>
   <ion-fab-list side="top">
     <button ion-fab class="fa" (click)="addmenu(fab)" *ngIf="is_Admin == 'true'">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
      <ion-label (click)="addmenu();">Add New Item</ion-label>
    </button>
     <button ion-fab class="fa" (click)="addGroup(fab)" *ngIf="is_Admin == 'true'">
      <ion-icon name="appname-custo3"></ion-icon>
    <ion-label (click)="addmenu();">Add Menu Group</ion-label>
   </button>
    <button ion-fab class="fa" (click)="viewGroup(fab)">
      <ion-icon name="clipboard"></ion-icon>
    <ion-label>View Menu Groups</ion-label>
   </button>
   </ion-fab-list>
 </ion-fab> 

</ion-content>

