page-menus {
    .grbg {
        background: #ebebeb
    }
    .trbg {
        background: transparent
    }
    .whitebg {
        position: relative
    }
    h3 {
        font-size: 1.4rem !important;
        margin: 0 0 0px 0;
    }
    .whitebg label {
        font-size: 1.2rem
    }
    .whitebg p {
        color: #b98d36;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .whitebg span {
        font-size: 1.2rem
    }
    .whitebg span img {
        max-width: 10px;
        float: left;
        margin: 4px 5px 0 0;
    }


    button {
        background: #b98d35;
        padding: 4px 7px;
        float: right;
        color: #ffffff;
        font-size: 1.2rem;
        position: relative;
        margin-top: 38px;
    }
    .cardpad {
        padding: 8px
    }
    .bgimg {
        height: 80px;
        width: 95px;
        //background-size: 95px 85px;
        background-size: cover;
        background-position: center;
        margin-left: 2px;
        border-radius: 3px;
    }
.identify {
    position: absolute;
    max-width: 22px;
    right: 0;
    bottom: 15px;
}
    .card-md h3 {
        margin: 2px 0;
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
    }
    .card-ios h3 {
        margin: 2px 0;
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
    }
    .card-md {
        margin: 13px 0px 13px 0px;
        border-radius: 2px;
        width: calc(100%);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-ios {
        margin: 13px 0px 13px 0px;
        border-radius: 2px;
        width: calc(100%);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .fa {
        float: none;
        position: unset;
        margin-left: 0;
        margin-top: 0px;
        background-color: #282b2e;
    }
    button[ion-fab] {
        overflow: visible;
        position: relative;
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            pointer-events: auto;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
        contain: layout;
    }
    .fab-md {
        color: #fff;
        background-color: #282b2e;
    }
    .fab-ios {
        color: #fff;
        background-color: #282b2e;
    }
    .empty {
        text-align: center;
        margin-top: 50%;
        font-size: large;
    }
    .card-md h2 {
        margin: 2px 0;
        font-size: 1.2rem;
        font-weight: normal;
        color: #000;
    }
    .card-ios h2 {
        margin: 2px 0;
        font-size: 1.2rem;
        font-weight: normal;
        color: #000;
    }
    p {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    ion-icon {
        &[class*="appname-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            background-position: center;
            width: 1em;
            height: 1em;
        }
        // custom icons
        &[class*="appname-custo1"] {
            mask-image: url('../assets/imgs/rupee.png');
        }
        &[class*="appname-custo2"] {
            mask-image: url('../assets/imgs/live.png');
        }
        &[class*="appname-custo3"] {
            mask-image: url('../assets/imgs/list.png');
        }
    }
    ion-icon[class*="appname-custo2"] {
        background: url(../assets/imgs/live.png) no-repeat;
        background-size: 26px auto;
        -webkit-mask-image: none;
    }
    .liv {
        color: #fff;
        background: red;
        padding: 5px;
    }
    .searchbar-md .searchbar-input {
        padding: 6px 6px 6px 45px;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .searchbar-ios .searchbar-input {
        padding: 6px 6px 6px 45px;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .dis {
        background: #6ab5b7;
        color: #fff !important;
        text-align: center;
        width: 96px;
        margin-left: 2px;
        height: 20px;
        border-radius: 3px;
        font-weight: 600;
        font-size: medium;
        margin-top: -10px;
    }
    .sta_p {
        color: #8B8E93 !important;
        font-size: 1.4rem !important;
    }
    .sta_l {
        color: #009640 !important;
        font-size: 1.4rem !important;
    }
    .sta_dis {
        color: #E30713 !important;
        font-size: 1.4rem !important;
    }

   .text_overflow{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    }
}