<ion-header>
 <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    

      <ion-row align-items-center style="width: 45%;
    margin-left: 29%;"><img src="assets/imgs/logo_new.png">
    </ion-row>
 

		<ion-row>
		<ion-col>
		<p text-center class="tit">SIGN UP</p>
		</ion-col>
		</ion-row>

        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">First Name<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item>   
        <ion-input type="text" [(ngModel)]="data.catt_first_name" name="name" (keyup.enter)="moveFocus(b)" (ionChange)='onChangeName(data.catt_first_name)'
         placeholder="First Name"></ion-input>
       </ion-item>
    	  </ion-col>
        <div class="error">{{error.first_name}}</div>
        </ion-row>


        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Last Name<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_sur_name" name="name" #b (keyup.enter)="moveFocus(c)"
        (ionChange)='onChangeSurName(data.catt_sur_name)'
        placeholder="Last Name" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.sur_name}}</div>
        </ion-row>



        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Caterer Name<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item>  
        <ion-input type="text" #inputRef (click)="focusMyInput(inputRef)" [(ngModel)]="data.catt_catering_name" name="name" #c (keyup.enter)="moveFocus(d)"
        (ionChange)='onChangeCaterName(data.catt_catering_name)'
        placeholder="Caterer Name"></ion-input>
        </ion-item>
        </ion-col>
        <div class="error">{{error.catt_catering_name}}</div>
        </ion-row>


        <ion-row>
      	<ion-col col-12>
      	<ion-label class="ionformlabel lab">Email Address<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item> 
        <ion-input type="Email" [(ngModel)]="data.catt_email_address" name="email" placeholder="Email Address" #d (keyup.enter)="moveFocus(e)"
        (ionChange)='onChangeemail(data.catt_email_address)'></ion-input>
        </ion-item>
    	 </ion-col>
       <div class="error">{{error.email_address}}</div>
        </ion-row>

        <ion-row>
      	<ion-col col-12>
        <ion-label class="ionformlabel lab">Phone Number<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item> 
        <ion-input type="tel" (ionChange)='onChangenumber(data.catt_mobile_no)' [(ngModel)]="data.catt_mobile_no" name="number" pattern="[0-9]" maxlength="10" placeholder="Phone Number" #e (keyup.enter)="moveFocus(f)"></ion-input>
       </ion-item>
    	 </ion-col>
       <div class="error">{{error.mobile_no}}</div>
        </ion-row>

        

<!--         <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Caterer Info<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.catt_catering_info" name="name" 
        (ionChange)='onChangeCaterinfo(data.catt_catering_info)'
        placeholder="Caterer Info" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.catt_catering_info}}</div>
        </ion-row>

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Minimum Order<span style="color:red">*</span></ion-label>
        <ion-input type="tel" [(ngModel)]="data.catt_min_order" pattern="[0-9]" maxlength="10" name="number" (ionChange)='onChangeminOrder(data.catt_min_order)'  placeholder="(in number)" class="ionform"></ion-input>
       </ion-col>
        <div class="error">{{error.min_order}}</div>
        </ion-row> 

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Maximum Order<span style="color:red">*</span></ion-label>
        <ion-input type="tel" [(ngModel)]="data.catt_max_order" (ionChange)='onChangemaxOrder(data.catt_max_order)' pattern="[0-9]" maxlength="10" name="number" placeholder="(in number)" class="ionform"></ion-input>
       </ion-col>
        <div class="error">{{error.max_order}}</div>
        </ion-row>    -->

      

        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Password<span style="color:red">*</span></ion-label>
        </ion-col>
        <ion-col col-12>
        <ion-item> 
        <ion-input [type]="passwordType" (ionChange)='onChangePass(data.catt_password)' #f (keyup.enter)="moveFocus(g)" [(ngModel)]="data.catt_password" name="password" placeholder="Password"  clearOnEdit="false"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()' ></ion-icon>
        </ion-item>
      </ion-col>
        <div class="error">{{error.password}}</div>
        </ion-row> 


        

<!--         <ion-row>
        <ion-col col-6>
         <ion-label class="ionformlabel lab">Delivery Time<span style="color:red">*</span></ion-label>
        </ion-col>
        </ion-row>

        <ion-row>
        <ion-col col-6>
          <ion-label class="ionformlabel lab">From</ion-label>
        <ion-datetime displayFormat="hh:mm A" (ionChange)='onChangeFrom(data.DeliveryTime_from)' [(ngModel)]="data.DeliveryTime_from" name="from" placeholder="09:00 AM" class="ionform"></ion-datetime>
      </ion-col>
      <ion-col col-6>
          <ion-label class="ionformlabel lab">To</ion-label>
        <ion-datetime displayFormat="hh:mm A" (ionChange)='onChangeTo(data.DeliveryTime_to)' [(ngModel)]="data.DeliveryTime_to" name="to" placeholder="09:00 PM" class="ionform"></ion-datetime>
      </ion-col>
      <div class="error">{{error.from_time}}</div>
      </ion-row>


      <ion-row>
      <ion-col col-12>
      <ion-label class="ionformlabel lab">Lead Time<span style="color:red">*</span></ion-label>
      <ion-input type="number" (ionChange)='onChangelead(data.catt_lead_time)'  [(ngModel)]="data.catt_lead_time" name="number" placeholder="(in days)" class="ionform"></ion-input>
      </ion-col>
      <div class="error">{{error.lead_time}}</div>
      </ion-row>


        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">Score</ion-label>
        <ion-input type="number" [(ngModel)]="data.catt_score" (ionChange)='onChangescore(data.catt_score)' name="password" placeholder="(in number)" class="ionform"></ion-input>
       </ion-col>
        </ion-row>


        <ion-row>
        <ion-col col-12>
        <ion-label class="ionformlabel lab">GST Number<span style="color:red">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.GST_No" name="name" 
        (ionChange)='onChangeGstName(data.GST_No)'
        placeholder="GST Number" class="ionform"></ion-input>
        </ion-col>
        <div class="error">{{error.GST_No}}</div>
        </ion-row>
 -->


<!-- <ion-row  (click)="takeSnap()">
  <ion-col col-12>
   <ion-item>
    <ion-label class="ico1 lab">GST Certificate<ion-icon  class="ico" name="cloud-upload"></ion-icon>
    </ion-label>
  </ion-item>
   </ion-col>
</ion-row>

<ion-row *ngIf="imageURI">
<ion-col col-4 class="im">
<img class="slide-image img circleP" [src]="imageURI" />
<ion-icon (click)="deleteImage(i)" *ngIf="imageURI" class="close ic" name="ios-close-circle-outline">
</ion-icon>
</ion-col>
</ion-row>


<ion-row  (click)="getImage()">
  <ion-col col-12>
   <ion-item>
    <ion-label class="ico1 lab">Food Certificate
      <ion-icon  class="ico" name="cloud-upload"></ion-icon>
    </ion-label>
  </ion-item>
   </ion-col>
</ion-row>


<ion-row>
<ion-col col-4 class="im">
<img class="slide-image img circleP"  *ngIf="imageURIs" [src]="imageURIs" />
<ion-icon (click)="deleteImages(i)" *ngIf="imageURIs" class="close ic" name="ios-close-circle-outline">
</ion-icon>
</ion-col>
</ion-row>


<ion-row>
  <ion-col col-12>
    <ion-label class="lab">Audit File</ion-label>
   </ion-col> 
  <ion-col col-12>
   <ion-item>
      <input type="file" (change)="uploadImage($event)"  
      data-bind="fileInput: fileData, customFileInput: {
              buttonClass: 'btn btn-success',
              fileNameClass: 'disabled form-control',
              onClear: onClear,
            }"/>
  </ion-item>
   </ion-col>
</ion-row> -->

<!--       <ion-row>
      <ion-col col-12>
         <ion-item>
        <ion-label floating class="mar">Meal Type<span style="color:red">*</span></ion-label>
          <ion-select [(ngModel)]="data.meal_types" (ionChange)='onChangeisType(data.meal_types)'>
          <ion-option value="Veg">Vegetarian</ion-option>
          <ion-option value="Non-Veg">Non Vegetarian</ion-option>
          <ion-option value="Both">Both</ion-option>
          </ion-select>
          </ion-item>
      </ion-col>
      <div class="error">{{error.meal_types}}</div>
      </ion-row> -->


    <ion-row>
    <ion-col col-12>
    <ion-label class="ionformlabel lab">Caterer Address<span style="color:red">*</span></ion-label>  
    </ion-col>
    <ion-col col-12>
    <ion-item> 
    <ion-textarea #myInput id="myInput" placeholder="Caterer Address" #g (ionChange)='onChangeCaterAddre(data.catt_address)' rows="2" maxLength="500" (keyup)="resize()" (keyup.enter)="signup()" [(ngModel)]="data.catt_address"></ion-textarea>
    </ion-item>
    </ion-col>
     <div class="error">{{error.catt_address}}</div>
    </ion-row>    



<!--   <ion-row>
  <ion-col col-6>
  <ion-label class="ionformlabel lab">Delivery Pincodes<span style="color:red">*</span></ion-label>
  </ion-col>
  </ion-row>

    <ion-row *ngFor="let att of anArray; let i = index">
    <ion-col col-12>
    <ion-item>
     <ion-label class="ionformlabel lab">Pincode&nbsp;{{i+1}}:</ion-label>
     <ion-input type="number" maxlength="6"  text-right [(ngModel)]="anArray[i].pincode"></ion-input>
     </ion-item>
    </ion-col>
    </ion-row>


    <ion-row>
    <ion-col col-6 *ngIf="AddressCount <= 4">
     <button ion-button (click)="Add()">Add Pincodes</button>
    </ion-col>

    <ion-col col-6 *ngIf="AddressCount > 0">
     <button ion-button (click)="removeAddress()">Remove</button>
    </ion-col>
    <div class="error">{{error.address}}</div>
    </ion-row>
 -->

   <button ion-button type="submit" block class="submitbtn but" style="height: 50px" (click)="signup()">SIGN UP</button>


</ion-content>
