page-orders {
    h3.title {
        color: #ffffff;
        font-size: 18px;
        margin: 0;
    }
    .iconmenu {
        margin-right: 5px;
    }
    .iconmenu img {
        max-height: 20px;
    }
    .text-right {
        text-align: right;
    }
    .headbanner {
        min-height: 35vh;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-size: cover !important;
        display: table;
    }
    .headbanner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%
    }
    .headbanner h2 {
        display: table-cell;
        vertical-align: middle;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
        z-index: 12;
        max-width: 75%;
        text-align: center;
        padding: 0 10%
    }
    .text-justify {
        text-align: justify !important
    }
    p {
        font-size: 16px;
        line-height: 22px;
    }
    .grey {
        background: #ebebeb;
    }
    .bggrey {
        padding: 10px 10px;
    }
    strong {
        display: block;
        margin-bottom: 2px;
    }
    button {
        background: #b98d35;
        color: #fff;
        padding: 5px 10px;
    }
    .rowlink a {
        display: inline-block;
        background: #fff;
        border-radius: 10px;
        color: #333;
        text-decoration: none;
        padding: 4px 10px 4px 10px;
        margin-right: 5px;
        font-size: 14px;
    }
    ion-card {
        display: block;
        overflow: hidden;
        margin: 0 0 20px 0 !important;
        width: 100% !important;
    }
    .card-content-ios {
        padding: 8px !important
    }
    .confirm {
        color: #008200
    }
    .confirm ion-icon {
        text-align: center;
        font-size: 2.3rem;
        display: block;
    }
    .text-center {
        text-align: center
    }
    .label-md {
        margin: 13px 0px 13px 0;
        font-size: 1.2rem;
    }
    .label-ios {
        margin: 13px 0px 13px 0;
        font-size: 1.2rem;
    }
    .card-md {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-ios {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .rowlink a:active {
        color: #fff;
        background: #333;
    }
    .active {
        color: #fff !important;
        background: #333 !important;
    }
    ion-icon {
        &[class*="appname-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            background-position: center;
            width: 1em;
            height: 1em;
        }
        // custom icons
        &[class*="appname-cus1"] {
            mask-image: url('../assets/imgs/cancel.png');
        }
    }
    .card-content-md {
        padding: 10px 6px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .card-content-ios {
        padding: 10px 6px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
}