<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>Orders</strong></ion-title>
      <ion-buttons end (click)="show();scrollToTop()">
      <button  ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="grey">

	
	<ion-searchbar *ngIf="flagStatus"
    [(ngModel)]="searchText"
    [showCancelButton]="true"
    (ionInput)="onFilter($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>


<ion-row class="bggrey">
	<ion-col col-12 class="rowlink">
		 <a (click)="Present()" [ngClass]="{'active': present_flag}">Present</a>
     <a (click)="Future()" [ngClass]="{'active': future_flag}">Future</a> 
     <a (click)="Past()" [ngClass]="{'active': past_flag }">Past</a>
	</ion-col>
</ion-row>

<ng-container *ngIf="totalPages == 0">
<p text-center style="margin-top:40%;font-weight: 400">No Orders</p>
</ng-container>  

<ion-card *ngFor="let user of orderList" (click)="orderDetail(user)">
<ion-card-content>
<ion-row>
<ion-col col-8>
<strong>Customer Name : {{user.userslist.usr_first_name}}</strong>
<p>Pincode : {{user.ship.ship_add_pincode}}</p>
<p>Delivery Date : {{user.delivery_dates | date:'dd-MM-yy' }}</p>
<p>Delivery Time : {{timeconvert(user.delivery_time)}}</p>
</ion-col>

<ion-col col-4>
<!-- <ng-container *ngIf="is_Admin == 'true'"> -->
	<ng-container *ngIf= "user.ord_status == 'Confirmed'">
		<ion-label class="confirm text-center">
		<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle">
		</ion-icon>
		CONFIRMED
		</ion-label>
	</ng-container>

    <ng-container *ngIf= "user.ord_status == 'Out_to_delivery'">
    <ion-label class="confirm text-center">
    <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="color: #b98d36;">
    </ion-icon>
    <span style="color: #b98d36;">OUT TO DELIVERY</span>
    </ion-label>
  </ng-container>

    <ng-container *ngIf= "user.ord_status == 'Delivered'">
    <ion-label class="confirm text-center">
    <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="color: #b98d36;">
    </ion-icon>
    <span style="color: #b98d36;">DELIVERED</span>
    </ion-label>
  </ng-container>

  <ng-container *ngIf= "user.ord_status == 'Cancelled'">
    <ion-label class="confirm text-center">
  <ion-icon name="appname-cus1" style="    color: red;
    font-size: 2rem;
    margin-left: 49px;
    font-weight: 500;margin-bottom:5px"></ion-icon>
    CANCELLED
    </ion-label>
  </ng-container>
<!-- </ng-container> -->

<ion-row justify-content-center>
<button class="button">View More</button>
</ion-row>

</ion-col>
</ion-row>
</ion-card-content>
</ion-card>

<ion-infinite-scroll (ionInfinite)="LoadData($event)" *ngIf="infiniteScrollEnabled" >
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
