page-order-details {
    .bggrey {
        background: #ebebeb;
        padding: 5px 10px
    }
    .bgwhite {
        background: #ffffff;
        padding: 5px 10px
    }
    .bgwhite p {
        margin: 0 0 5px 0
    }
    .menuitem {
        height: 50px;
        width: 100%;
        background-size: 100%;
    }
    .font13 {
        font-size: 13px
    }
    .text-right {
        text-align: right
    }
    .text-center {
        text-align: center
    }
    h4 {
        font-size: 1.2rem
    }
    .green {
        color: green
    }
    .brtop {
        border-top: 1px solid #dedede;
        margin: 10px 5px 10px 5px;
    }
    .btn_tr {
        border: 1px solid #b98d35;
        color: #b98d35;
        background: transparent;
        padding: 10px;
        margin: 10px 0 15px 0;
    }
    .per {
        margin-top: 2px;
        margin-right: 7px;
        font-size: 1.2rem;
        font-weight: 200;
    }
    .card-title-md {
        display: block;
        font-size: 2rem;
        line-height: 1.2;
        color: #d39b36;
        font-weight: 500;
        margin: 2px 0;
        padding: 8px 0;
    }
    .card-title-ios {
        display: block;
        font-size: 2rem;
        line-height: 1.2;
        color: #d39b36;
        font-weight: 500;
        margin: 2px 0;
        padding: 8px 0;
    }
    ion-icon {
        &[class*="appname-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            background-position: center;
            width: 1em;
            height: 1em;
        }
        // custom icons
        &[class*="appname-cus1"] {
            mask-image: url('../assets/imgs/cancel.png');
        }
    }
    .card-md {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 0px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 5px rgba(0, 0, 0, 0.12);
    }
    .card-ios {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 0px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 5px rgba(0, 0, 0, 0.12);
    }
    .butt {
        margin-top: 10px;
    }
    .skip {
        background: #b39d36;
        color: #fff;
        padding: 4px 10px;
    }
    .sub {
        background: #d39b36;
        color: #fff;
        padding: 4px 8px;
    }
}