<ion-header>
 <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>Order Detail</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-row class="bggrey">
	<ion-col col-12><strong>Customer Details</strong></ion-col>
</ion-row>
<ion-row class="bgwhite">
	<ion-col col-12>
		<p>Customer name : {{order_DetailData.userslist.usr_first_name}}</p>
		<!-- <p>Pincode : {{order_DetailData.ship.ship_add_pincode}}</p> -->
    <p>Delivery Address :</p>
    <p style="text-align: -webkit-left;">{{order_DetailData.ship.ship_add_name}},{{order_DetailData.ship.ship_add_landmark}},{{order_DetailData.ship.ship_add_address}},{{order_DetailData.ship.ship_add_city}}-{{order_DetailData.ship.ship_add_pincode}}</p>
    <p>Order No : {{order_DetailData.order_id}}</p>
	</ion-col>
</ion-row>
<ion-row class="bggrey">
	<ion-col col-12><strong>Delivery Date and Time</strong></ion-col>
</ion-row>
<ion-row class="bgwhite">
	<ion-col col-12>
		<p>Delivery Date    : {{order_DetailData.delivery_dates | date:'dd-MM-yy' }}</p>
		<p>Delivery Time    : {{timeconvert(order_DetailData.delivery_time)}}</p>
	</ion-col>
</ion-row>
<ion-row class="bggrey">
	<ion-col col-12><strong>Menus</strong></ion-col>
</ion-row>

<ion-row align-items-center class="bgwhite font13" *ngFor="let menu of menus">
	<ion-col col-3 *ngIf="menu.menu_details.images?.length > 0">
	<div class="menuitem" [style.backgroundImage]="'url(' + showImage(menu.menu_details.images[0].menu_imgname)+ ')'" style="    width: 60px;
    height: 50px;
    background-size: cover;"></div>
	</ion-col>
    <ion-col col-3 *ngIf="menu.menu_details.images?.length == 0">
  <div class="menuitem" [style.backgroundImage]="'url(' + defaultMenuPic+ ')'" style="    width: 60px;
    height: 50px;
    background-size: cover;"></div>
  </ion-col>
	<ion-col col-6 style="text-align: -webkit-center;">
		{{menu.menu_details.menu_name}}
	</ion-col>
	<ion-col col-3 class="text-right">
		{{menu.quantity}} X {{menu.price}}
	</ion-col>
</ion-row>

<ion-row align-items-center class="brtop">
<ion-col col-8>
<h4 class="text-right" style="font-size: 1.5rem;
    font-weight: 400;">Total Bill Value</h4>
</ion-col>
<ion-col col-4 class="text-right font13" style="font-size: 1.5rem;
    font-weight: 600;    margin-top: 0;">
	Rs.{{order_DetailData.ord_total_amount}}/-
  <!-- <p class="per">Per Person</p> -->
</ion-col>
</ion-row>

<ion-row class="bggrey">
  <ion-col col-12><strong>Instruction</strong></ion-col>
</ion-row>
<ion-row class="bgwhite">
  <ion-col col-12>
    <p>Contact Person Details : </p>
    <ul>
      <li>Name: {{order_DetailData.userslist.usr_first_name}}</li>
      <li>Phone Number: {{order_DetailData.userslist.usr_mobile_no}}</li>
    </ul>
    <ng-container *ngIf="order_DetailData.ord_food_instruct && order_DetailData.ord_food_instruct != null">
    <p>Food Instruction    : </p>
    <p>{{order_DetailData.ord_food_instruct}}</p>
    </ng-container>

    <ng-container *ngIf="order_DetailData.ord_delivery_instruct && order_DetailData.ord_delivery_instruct != null">
    <p>Delivery Instruction : </p>
    <p>{{order_DetailData.ord_delivery_instruct}}</p>
    </ng-container>
  </ion-col>
</ion-row>


<!-- <ng-container *ngIf="is_Admin == 'true'"> -->

<ng-container *ngIf="confirmed =='true'">
<ion-row style="width: 90%;
    margin-left: 20px;">
	<ion-col col-12  class="text-center green">
	<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle">
		</ion-icon> CONFIRMED
		<br>
		<button block class="btn_tr" *ngIf="this.orderTab != 'tab-future'" (click)="statusUpdate()"><strong>Out To Delivery</strong></button>
	</ion-col>
</ion-row>
</ng-container>

<ng-container *ngIf="confirmed =='Delivered'">
<ion-row style="width: 90%;
    margin-left: 20px;">
	<ion-col col-12  class="text-center green">
	<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="color: #b98d36;">
		</ion-icon> <span style="color: #b98d36;">Out To Delivery</span>
		<br>
		<button block class="btn_tr" (click)="statusUpdate()"><strong>Delivered</strong></button>
	</ion-col>
</ion-row>
</ng-container>

<ng-container *ngIf="confirmed =='cancel'">
<ion-row style="width: 90%;
    margin-left: 20px;">
	<ion-col col-12  class="text-center green" style="color:red">
	<ion-icon name="appname-cus1" style="color: red;
    font-size: 1.3rem;
    font-weight: 500;">
		</ion-icon> Cancelled
		<br>
		<!-- <button block class="btn_tr" (click)="statusUpdate()">Delivered</button> -->
	</ion-col>
</ion-row>
</ng-container>

<ng-container *ngIf="confirmed =='rating'">
<ion-row style="width: 90%;
    margin-left: 20px;">
	<ion-col col-12  class="text-center green">
	<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="color: #b98d36;">
		</ion-icon> <span style="color: #b98d36;">Delivered</span>
		<br>


<!-- <ion-card *ngIf="showFood">
   <ion-card-header>
    <ion-card-title>For Food</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col col-12>
       <ionic3-star-rating 
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#ef9e3f" 
        defaultColor = "#e4cccc"
        readonly= readonly_food
        [rating]="rating_food">
    </ionic3-star-rating>
      </ion-col>
      <ion-col class="butt">
        <button float-left class="skip" (click)="showDelive()">Skip</button>
        <button float-right class="sub" (click)="rateFood()" *ngIf="submit_food">Submit</button>
        </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card> -->

<!-- <ion-card *ngIf="showDelivery">
  <ion-card-header>
    <ion-card-title>For Delivery</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  	<ion-row>
  		<ion-col col-12>
  		 <ionic3-star-rating 
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#ef9e3f" 
        defaultColor = "#e4cccc"
        readonly= readonly_delivery
        [rating]="rating_delivery">
    </ionic3-star-rating>
  		</ion-col>
  		<ion-col class="butt">
        <button float-left class="skip" (click)="showclient()">Skip</button>
        <button float-right class="sub" (click)="rateDelivery()" *ngIf="submit_delivery">Submit</button>
        </ion-col>
  	</ion-row>
  </ion-card-content>
</ion-card>
 -->
<ion-card *ngIf="showClient">
   <ion-card-header>
    <ion-card-title>For Client</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  	<ion-row>
  		<ion-col col-12 *ngIf="readonly_client">
  		 <ionic3-star-rating 
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#ef9e3f" 
        defaultColor = "#e4cccc"
        readonly= "true"
        [rating]="rating_Client">
      </ionic3-star-rating>
  		</ion-col>

      <ion-col col-12 *ngIf="!readonly_client">
       <ionic3-star-rating 
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#ef9e3f" 
        defaultColor = "#e4cccc"
        readonly= readonly_client
        [rating]="rating_Client">
    </ionic3-star-rating>
      </ion-col>

  		<ion-col class="butt">
        <button float-right class="sub" (click)="rateClient()" *ngIf="submit_client">Submit</button>
        </ion-col>
  	</ion-row>
  </ion-card-content>
</ion-card>		

	</ion-col>
</ion-row>
</ng-container>
<!-- </ng-container> -->


</ion-content>